<div class="row">
  <span><i class="material-icons">star</i></span>
  <div class="col align-middle">
    {{ promocode }} Promotion
    <p class="text-secondary">
      {{ promoDiscription }}
    </p>
  </div>
  <div class="col text-right">
    <button mat-raised-button color="primary" (click)="openAddPromotionFood()">Add new</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="table-responsive" style="max-height: 80vh;overflow: auto;">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-left">Food</th>
          <th scope="col" class="text-right">Price</th>
          <th scope="col" class="text-right">Discount</th>
          <th scope="col" class="text-right">% Discount</th>
          <th scope="col" class="text-right">Discount price</th>
          <th scope="col" class="text-center">Enabled</th>
        </thead>
        <tbody>
          <tr *ngFor="let d of promos; let i = index">
            <td class="text-center">{{ i+1 }}</td>
            <td class="text-left" style="cursor: pointer;" (click)="updateFoodDiscount(d.dTranxId)">{{ d.food_name }}
            </td>
            <td class="text-right">{{ d.price |number }}</td>
            <td class="text-right">{{ d.discount |number }}</td>
            <td class="text-right">{{ d.percentageDiscount * 100  |number }} %</td>
            <td class="text-right">{{ d.discountAmt |number }}</td>
            <td class="text-center" *ngIf="d.dtxEnabled; else disableDiscount"><img
                src="../../../assets/icons/Check_green_icon.svg.png" style="max-width: 20px;cursor: pointer;"
                (click)="toggleEnable(d.dTranxId, d.dtxEnabled)">
            </td>
            <ng-template #disableDiscount>
              <td class="text-center">
                <img src="../../../assets/icons/baseline-remove-24px.svg" style="max-width: 20px;cursor: pointer;"
                  (click)="toggleEnable(d.dTranxId, d.dtxEnabled)">
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
