<div class="row">
  <div class="col">
    <p class="h4">
      Discount management
    </p>
  </div>
  <div class="col text-right">
    <button mat-raised-button color="primary" (click)="openAddPromotion()">Add new</button>
  </div>
</div>
<hr>
<div class="table-responsive" style="max-height: 80vh;overflow: auto;">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Discount</th>
      <th scope="col" class="text-nowrap">Valid from</th>
      <th scope="col">Expire</th>
      <th scope="col" class="text-center">Addition</th>
      <th scope="col" class="text-center">Valid</th>
      <th scope="col" class="text-center">Remove</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let d of disconts; let i = index">
        <tr [class.table-danger]="d.discount_valid === 0">
          <td class="text-center">{{ i+1 }}</td>
          <td class="text-left" style="cursor: pointer;" (click)="openCouponView(d)">{{ d.discount_code }}</td>
          <td class="text-left">{{ d.discount_description }}</td>
          <td class="text-left text-nowrap">{{ d.discount_valid_from |date: 'dd-MMM-yy' }}</td>
          <td class="text-left text-nowrap">{{ d.discount_valid_thru |date: 'dd-MMM-yy' }}</td>
          <td class="text-left text-nowrap" *ngIf="d.discountTypeId === 3;else additionalFood">
            <button mat-stroked-button color="warn" disabled>View</button>
          </td>
          <ng-template #additionalFood>
            <td class="text-left text-nowrap">
              <button mat-stroked-button color="warn" (click)="openAddAdditionalFood(d.id)">View</button>
            </td>
          </ng-template>
          <td class="text-center" *ngIf="d.discount_valid; else noValid">
            <img src="../../../assets/icons/Check_green_icon.svg.png" style="max-width: 20px;cursor: pointer;"
              (click)="toggleValid(d.id, d.discount_valid)">
          </td>
          <ng-template #noValid>
            <td class="text-center">
              <img src="../../../assets/icons/cancel.svg" style="max-width: 20px;cursor: pointer;"
                (click)="toggleValid(d.id, d.discount_valid)">
            </td>
          </ng-template>

          <td class="text-center" *ngIf="d.enabled; else disableDiscount"><img
              src="../../../assets/icons/baseline-delete-24px.svg" style="max-width: 20px;cursor: pointer;"
              (click)="toggleEnable(d.id, d.enabled)">
          </td>
          <ng-template #disableDiscount>
            <td class="text-center">
              <img src="../../../assets/icons/cancel.svg" style="max-width: 20px;cursor: pointer;"
                (click)="toggleEnable(d.id, d.enabled)">
            </td>
          </ng-template>
        </tr>
        <ng-template>
          <tr class="table-danger">
            <td class="text-center">{{ i+1 }}</td>
            <td class="text-left" style="cursor: pointer;" (click)="openCouponView(d)">
              {{ d.discount_code }}</td>
            <td class="text-left">{{ d.discount_description }}</td>
            <td class="text-left text-nowrap">{{ d.discount_valid_from |date: 'dd-MMM-yy' }}
            </td>
            <td class="text-left text-nowrap">{{ d.discount_valid_thru |date: 'dd-MMM-yy' }}</td>
            <td class="text-left text-nowrap"></td>
            <td class="text-center" *ngIf="d.discount_valid; else noValid">
              <img src="../../../assets/icons/Check_green_icon.svg.png" style="max-width: 20px;cursor: pointer;"
                (click)="toggleValid(d.id, d.discount_valid)">
            </td>
            <ng-template #noValid>
              <td class="text-center">
                <img src="../../../assets/icons/cancel.svg" style="max-width: 20px;cursor: pointer;"
                  (click)="toggleValid(d.id, d.discount_valid)">
              </td>
            </ng-template>

            <td class="text-center" *ngIf="d.enabled; else disableDiscount"><img
                src="../../../assets/icons/Check_green_icon.svg.png" style="max-width: 20px;cursor: pointer;"
                (click)="toggleEnable(d.id, d.enabled)">
            </td>
            <ng-template #disableDiscount>
              <td class="text-center">
                <img src="../../../assets/icons/cancel.svg" style="max-width: 20px;cursor: pointer;"
                  (click)="toggleEnable(d.id, d.enabled)">
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>
