<p class="h4">
  ເພີ່ີມປະເພດອາຫານ
</p>
<form [formGroup]="foodCateForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="foodCategoryName">ປະເພດອາຫານ ພາສາອັງກິດ</label>
      <input type="text" class="form-control" formControlName="foodCategoryName" id="foodCategoryName" required>
    </div>
    <div class="form-group col-md-6">
      <label for="foodCategoryNameLao">ປະເພດອາຫານ ພາສາ ລາວ</label>
      <input type="text" class="form-control" formControlName="foodCategoryNameLao" id="foodCategoryNameLao" required>
    </div>
    <div class="form-group col-md-12 text-right">
      <div class="row">
        <div class="col col-md-6">
          <button mat-flat-button color="primary">Save</button>
        </div>
        <div class="col col-md-6">
          <button mat-flat-button color="primary">Save</button>
        </div>

      </div>

    </div>

  </div>
</form>
<div>
  <table class="table  table-bordered table-hover">
    <thead>
      <th class="text-left">ປະເພດອາຫານ ພາສາອັງກິດ</th>
      <th class="text-left">ປະເພດອາຫານ ພາສາ ລາວ</th>
    </thead>
    <tbody>
      <tr *ngFor="let cat of FoodCategories|async" (click)="addUpdate(cat)">
        <td class="text-left">{{ cat.foodCategoryName }}</td>
        <td class="text-left">{{ cat.foodCategoryNameLao }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="2"></td>
      </tr>
    </tfoot>
  </table>
</div>
