<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Transactions</mat-card-title>
    <mat-card-subtitle>Summary all Transactions</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">Q</th>
            <th scope="col" class="text-center">transaction_date</th>

            <th scope="col" class="text-center">foodName</th>
            <th scope="col" class="text-center">cost</th>
            <th scope="col" class="text-center">price</th>
            <th scope="col" class="text-center">quantity</th>
            <th scope="col" class="text-center text-nowrap">Grand total</th>
            <th scope="col" class="text-center text-nowrap">Total cost</th>
            <th scope="col" class="text-center">Profit</th>
            <th scope="col" class="text-center text-nowrap">Bill Amount</th>
            <th scope="col" class="text-center text-nowrap">Payment By</th>
            <th scope="col" class="text-center">refno</th>
            <th scope="col" class="text-center text-nowrap">QR Refno</th>
            <th scope="col" class="text-center">Settled</th>
            <th scope="col" class="text-center text-nowrap">Invoice no</th>
            <th scope="col" class="text-center">Kitchen</th>
            <th scope="col" class="text-center">Recover</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | async">
            <td class="text-left align-middle">{{ transaction.ticket }}</td>
            <td class="text-left align-middle">{{ transaction.transaction_date.toDate() | date:'dd-MMM-yyyy HH:mm:ss' }}
            </td>

            <td class="text-left align-middle text-nowrap">{{ transaction.foodName }}</td>
            <td class="text-right align-middle">{{ transaction.cost | number }}</td>
            <td class="text-right align-middle">{{ transaction.price | number }}</td>
            <td class="text-right align-middle">{{ transaction.quantity | number }}</td>
            <td class="text-right align-middle">{{ transaction.total_price | number }}</td>
            <td class="text-right align-middle">{{ transaction.total_cost | number }}</td>
            <td class="text-right align-middle">{{ transaction.profit | number }}</td>
            <td class="text-right align-middle">{{ transaction.bill_amount | number }}</td>
            <td class="text-center align-middle">{{ transaction.paymentBy }}</td>
            <td class="text-center align-middle">{{ transaction.refno }}</td>
            <td class="text-center align-middle" *ngIf="transaction.qrRefno; else noQr">{{ transaction.qrRefno }}</td>
            <ng-template #noQr>
              <td class="text-center align-middle">N/A</td>
            </ng-template>
            <td class="text-center align-middle" *ngIf="transaction.settled == true">
              <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png" disable
                style="max-width: 20px;">
            </td>
            <td class="text-center align-middle">{{ transaction.invoiceno }}</td>
            <td class="text-center align-middle">{{ transaction.kitchen }}</td>
            <td class="text-center align-middle">
              <button mat-raised-button color="warn">Recover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
