<h1 mat-dialog-title>ຜູ້ໃຊທັງໝົດໃນລະບົບ</h1>
<div class="table-responsive" style="max-height: 400px; overflow: auto; overflow-x: hidden;">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center text-nowrap">#</th>
        <th scope="col" class="text-center text-nowrap">username</th>
        <th scope="col" class="text-center text-nowrap">ຊື່</th>
        <th scope="col" class="text-center text-nowrap">ວັນລົງທະບຽນ</th>
        <th scope="col" class="text-center text-nowrap">ສະຖານະ</th>
        <th scope="col" class="text-center text-nowrap">Control</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td class="text-left text-nowrap">{{ i + 1 }}</td>
        <td class="text-left text-nowrap">{{ user.username }}</td>
        <td class="text-left text-nowrap" style="max-width: 140px;" *ngIf="user.gender == 'M'; else Female">Mr.
          {{ user.fullname }}
        </td>
        <ng-template #Female>
          <td class="text-left text-nowrap" style="max-width: 140px;">Ms.
            {{ user.fullname }}
          </td>
        </ng-template>
        <td class="text-center text-nowrap">{{ user.employed_date | date: 'dd-MMM-yyyy'}}</td>
        <td class="text-center text-nowrap" *ngIf="user.enabled; else disabledUsr">
          <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png" (click)="userActivateToggle(user)"
            style="max-width: 20px;cursor: pointer;">
        </td>
        <ng-template #disabledUsr>
          <td class="text-center text-nowrap">
            <img mat-raised-button src="../../../assets/icons/baseline-remove-24px.svg"
              (click)="userActivateToggle(user)" style="max-width: 20px;cursor: pointer;">
          </td>
        </ng-template>
        <td class="text-center text-nowrap" style="width: 100px;">
          <div class="row">
            <div class="col col-md-12 text-center">
              <button mat-flat-button color="warn" style="width: 100%;" (click)="showUserAdd(user)">Update</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
