<h1 mat-dialog-title>ເພີມລາຍການສູດອາຫານ</h1>
<form [formGroup]="bomDetailForm">
  <div class="row">
    <div class="form-group col-md-3">
      <label for="bomId">ລະຫັດ</label>
      <input type="text" id="bomId" readonly class="form-control" style="width: 100%;" formControlName="bomId" required>
    </div>

    <div class="form-group col-md-3">
      <label for="productId">ວັດຖຸດິບ</label>
      <select class="form-control" id="productId" formControlName="productId" required>
        <option value="-1" disabled>---------</option>
        <option value="{{ product.pid }}" *ngFor="let product of products ">{{ product.product_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="quantity">ປະລິມານນຳໃຊ້</label>
      <input type="number" id="quantity" class="form-control text-right" style="width: 100%;" formControlName="quantity"
        required>
    </div>
    <div class="form-group col-md-3">
      <label for="unitId">ຫົວໜ່ວຍ</label>
      <select id="unitId" class="form-control" formControlName="unitId">
        <option value="-1" disabled>---------</option>
        <option value="{{ unit.id }}" *ngFor="let unit of units">{{ unit.unit_name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12 mb-3">
      <button mat-raised-button color="warn" class="ml-2 float-right" style="width: 100px;"
        (click)="closeDialog()">ປິດ</button>
      <button mat-raised-button color="primary" class="float-right" style="width: 100px;"
        (click)="addChildBom()">ບັນທຶກ</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="showTableBom">
    <div class="row">
      <div class="col col-md-12">
        <div class="table-responsive-lg">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <th class="text-center">#</th>
              <th class="text-left">ສ່ວນປະສົມ</th>
              <th class="text-right">ຈຳນວນ</th>
              <th class="text-center">ຫົວໜ່ວຍ</th>
              <th class="text-center">ວັນທີ່ສ້າງ</th>
              <th class="text-center">ລຶບ</th>
            </thead>
            <tbody>
              <tr *ngFor="let bomDetail of bomDetails; let i = index">
                <td class="text-center">{{ i+1 }}</td>
                <td class="text-left">{{ bomDetail.product_name }}</td>
                <td class="text-right">{{ bomDetail.quantity |number }}</td>
                <td class="text-center">{{ bomDetail.unit_name }}</td>
                <td class="text-center">{{ bomDetail.createdAt |date: 'dd-MMM-yyyy' }}</td>
                <td class="text-center">
                  <img src="../../../assets/icons/baseline-delete-24px.svg" style="cursor: pointer;"
                    (click)="removeItem(bomDetail.btid)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

</form>
