<div class="h4" mat-dialog-title>ເພີມໂປຣໂມຊັນ</div>
<mat-divider class="mb-1"></mat-divider>
<form [formGroup]="promotionFormRole">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="promotion_name">Promotion name</label>
      <input type="text" class="form-control" id="promotion_name" placeholder="promotion_name"
        formControlName="promotion_name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="description" formControlName="description"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="promotion_min_quantity">Minimum Quantity</label>
      <input type="number" class="form-control text-right" id="promotion_min_quantity"
        placeholder="promotion_min_quantity" formControlName="promotion_min_quantity" required>
    </div>
    <div class="form-group col-md-6">
      <label for="promotion_quantity">Promotion Quantity</label>
      <input type="number" class="form-control text-right" id="promotion_quantity" placeholder="promotion_quantity"
        formControlName="promotion_quantity" required>
    </div>
    <div class="form-group col-md-6" [ngClass]="showGroup">
      <label for="discountId">Coupons</label>
      <select class="form-control" id="discountId" formControlName="discountId">
        <option value="" disabled>Choose</option>
        <option *ngFor="let item of coupons" value="{{ item.id }}">{{ item.food_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="promotionTypeId">Promotion Types</label>
      <select class="form-control" id="promotionTypeId" formControlName="promotionTypeId" required
        (change)="foodTypeSelected($event.target.value)">
        <option value="" disabled>Choose</option>
        <option *ngFor="let item of promotionTypes" value="{{ item.id }}">{{ item.promotion_type_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="expiry_date">Expiry Date</label>
      <input type="date" class="form-control" id="expiry_date" placeholder="expiry_date" formControlName="expiry_date"
        required>
    </div>

    <div class="form-group col-md-6" [ngClass]="showGroup">
      <label for="foodTypeId">ກຸ່ມ</label>
      <select class="form-control" id="foodTypeId" formControlName="foodTypeId" required formControlName="foodTypeId">
        <option value="" disabled>Choose</option>
        <option *ngFor="let foodtype of foodTypes" value="{{ foodtype.id }}">{{ foodtype.foodTypeName }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <button mat-flat-button color="primary" class="form-control" style="top:31px;" (click)="savePromotion()"
        id="expiry_date">ບັນທຶກ</button>
    </div>
  </div>
</form>
