<form [formGroup]="recipeForm">
  <h1 mat-dialog-title>ເພີ່ມລາຍການອາຫານ ກັບ ວັດຖຸດິບ (ຫົວໜ່ວຍເປັນ Gram)</h1>
  <div mat-dialog-content>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="recipeName">ຊື່ອາຫານ</label>
        <input type="text" class="form-control" id="recipeName" formControlName="recipeName">
      </div>
      <div class="form-group col-md-4">
        <label class="foodIdType">ປະເພດອາຫານ</label>
        <select class="form-control" id="foodIdType" [(ngModel)]="foodType" [ngModelOptions]="{standalone: true}">
          <option value="" disabled>-- Choose --</option>
          <option value="{{ ft.id }}" *ngFor="let ft of foodTypes">{{ ft.foodTypeName }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="foodId">ອາຫານ</label>
        <select class="form-control" id="foodId" formControlName="foodId">
          <option value="" disabled>-- Choose --</option>
          <option value="{{ food.id }}" *ngFor="let food of foods|foodCategoryPipe: foodType">{{ food.food_name}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label class="subfoodId">ອາຫານຍ່ອຍ</label>
        <select class="form-control" id="subfoodId" formControlName="subfoodId">
          <option value="0">-- Non Subfood --</option>
          <option value="{{ s.id }}" *ngFor="let s of subfoods">{{ s.subFoodName }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label class="ingredientId">ວັດຖຸດິບ</label>
        <select class="form-control" id="ingredientId" formControlName="ingredientId"
          (change)="getIngredientById($event.target.value)">
          <option value="" disabled>-- Choose --</option>
          <option value="{{ i.id }}" *ngFor="let i of ingredients">{{ i.ingredientName }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="quantity">ຈຳນວນ</label>
        <input type="number" class="form-control text-right" id="quantity" formControlName="quantity">
      </div>

      <div class="col col-md-12 text-right">
        <button mat-flat-button color="primary" (click)="addIngredient()" class="mr-2">Add</button>
        <button mat-flat-button color="warn" (click)="saveRecipe()">{{ btnText }}</button>
      </div>

    </div>
  </div>
</form>
<hr>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-left">ສ່ວນປະກອບ</th>
      <th scope="col" class="text-center">ຈຳນວນ</th>
      <th scope="col" class="text-center">ຫົວໜ່ວຍ</th>
      <th scope="col" class="text-left">ໝາຍເຫດ</th>
      <th scope="col" class="text-left">ການຈັດການ</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of recipeList; let i = index">
        <td class="text-center">{{ i+1 }}</td>
        <td class="text-left">{{ item.ingredientName }}</td>
        <td class="text-right">{{ item.quantity | number }}</td>
        <td class="text-center">{{ item.unitName }}</td>
        <td class="text-left">{{ item.remarks }}</td>
        <td class="text-center">
          <i class="material-icons" style="cursor: pointer; color: #C60001;"
            (click)="removeItem(item)">delete_outline</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
