<p class="h5">
  ເປິດຍອດ
</p>
<form [formGroup]="addCashload">
  <div class="row">
    <div class="form-group col-md-10">
      <input type="number" class="form-control" formControlName="initBalance" min="5" required>
      <button mat-raised-button color="primary" style="width: 100px;top:30px;right: 5px;"
        class="form-control">Authorize</button>
    </div>
    <div class="form-group col-md-12">
      <button mat-raised-button color="primary" class="form-control">
        ບັນທຶກ
      </button>
    </div>
  </div>
</form>
