<p class="h5">
  ເປິດຍອດ
</p>
<form [formGroup]="addCashload">
  <div class="input-group mb-3">
    <input type="number" class="form-control" min="100000" placeholder="Open Cash minimum 100,000 KIP" min
      aria-label="Open Cash minimum 100,000 KIP" aria-describedby="basic-addon2" required formControlName="initBalance">
  </div>
  <div class="input-group mb-3">
    <select class="form-control" formControlName="openAuthorizedBy">
      <option value="" disabled>-----------------------</option>
      <option value="{{ user.email }}" *ngFor="let user of users | async">{{ user.fullName }}</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-success" [disabled]="btnDisable" (click)="approveProcess()"
        type="button">Approve</button>
    </div>
  </div>
</form>
