<h1 mat-dialog-title>ລົງທະບຽນຜູ້ໃຊ້</h1>
<form [formGroup]="addUserForm">
  <div class="row">

    <div class="col col-md-6">
      <label for="userId">UserId</label>
      <input type="text" id="userId" readonly class="form-control" formControlName="userId">
    </div>
    <div class="col col-md-6">
      <label for="userName">User Name</label>
      <input type="text" id="userName" class="form-control" formControlName="userName">
    </div>

    <div class="col col-md-6">
      <label for="employeeCode">Employee code</label>
      <input type="text" id="employeeCode" readonly class="form-control" formControlName="employeeCode">
    </div>
    <div class="col col-md-6">
      <label for="gender">Gender</label>
      <select class="form-control" formControlName="gender">
        <option value="" disabled>-------------</option>
        <option value="M">Mr.</option>
        <option value="F">Ms.</option>
      </select>
    </div>
    <mat-divider></mat-divider>
    <div class="col col-md-6">
      <label for="fullName">FullName</label>
      <input type="text" id="fullName" class="form-control" formControlName="fullName">
    </div>
  </div>

</form>
