<div class="row" style="max-height: 80vh;overflow: auto;">
  <div class="col col-md-12">
    <h1 mat-dialog-title>ເພີ່ມວັດຖຸດິບ</h1>
    <form [formGroup]=" ingredientForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ingredientName">ວັດຖຸດິບ</label>
          <input type="text" class="form-control" id="ingredientName" formControlName="ingredientName" required>
        </div>
        <div class="form-group col-md-6">
          <label for="ingredientTypeId">ປະເພດ</label>
          <select class="form-control" id="ingredientTypeId" formControlName="ingredientTypeId" required>
            <option value="" disabled>-- Choose --</option>
            <option value="{{ t.id }}" *ngFor="let t of ingredientTypes">{{ t.ingredientTypeName }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col col-md-6">
          <label for="quantityPerUnit">ຂະໜາດບັນຈຸ</label>
          <input type="number" class="form-control text-right" id="quantityPerUnit" formControlName="quantityPerUnit"
            required>
        </div>
        <div class="form-group col-md-6">
          <label for="unitId">ຫົວໜ່ວຍ</label>
          <select class="form-control" id="unitId" formControlName="unitId" required>
            <option value="">-- Choose --</option>
            <option value="{{ t.id }}" *ngFor="let t of units">{{ t.unit_name }}</option>
          </select>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col col-md-6">
          <label for="unitPerPack">ຈຳນວນຕໍ່ແກັດ</label>
          <input type="number" class="form-control text-right" id="unitPerPack" formControlName="unitPerPack" required
            (keyup)="srcPackAmountChange()">
        </div>
        <div class="form-group col col-md-6">
          <label for="packUnitId">ແພັກ</label>
          <select class="form-control" id="packUnitId" formControlName="packUnitId" required>
            <option value="">-- Choose --</option>
            <option value="{{ c.id }}" *ngFor="let c of packUnits">{{ c.packUnitName }}</option>
          </select>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col col-md-6">
          <label for="kitchenId">ຫ້ອງຄົວ</label>
          <select class="form-control" id="kitchenId" formControlName="kitchenId" required>
            <option value="" disabled>-- Choose --</option>
            <option value="{{ k.id }}" *ngFor="let k of kitchens">{{ k.kitchenName }}</option>
          </select>
        </div>
        <div class="form-group col col-md-6">
          <label for="supplierId">ຊື້ຈາກ</label>
          <select class="form-control" id="supplierId" formControlName="supplierId" required>
            <option value="" disabled>-- Choose --</option>
            <option value="{{ t.id }}" *ngFor="let t of vendors">{{ t.vendorName }}</option>
          </select>
        </div>
      </div>
      <hr>
    </form>
    <div class="col col-md-12 text-right">
      <button mat-flat-button color="primary" class="mb-1" [disabled]="disabledBtn"
        style="background-color: #00BFA5;width: 100px;" (click)="createIngredient()">ບັນທຶກ</button>
    </div>
  </div>
</div>
