<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ບັນທຶກລາຍຈ່າຍປະຈຳວັນ</mat-card-title>
    <mat-card-subtitle>ບັນທຶກລາຍຈ່າຍປະຈຳວັນ ທີ່ນຳໃຊ້ເງິນຈາກ ກະແຊັດ</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group row">
      <div class="col col-sm-12 col-md-3">
        <input type="text" class="form-control" placeholder="ຄົ້ນຫາ...">
      </div>
      <div class="col col-sm-12 col-md-2">
        <button mat-raised-button color="primary" class="float-left"
          (click)="openAddExp()">ບັນທຶກລາຍຈ່າຍປະຈຳວັນ</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">ຮູບ</th>
            <th scope="col" class="text-center">ອາຫານ</th>
            <th scope="col" class="text-center">ອາຫານ ພາສາອັງກິດ</th>
            <th scope="col" class="text-center">ຕົ້ນທືນ</th>
            <th scope="col" class="text-center">ລາຄາຂາຍ</th>
            <th scope="col" class="text-center">ສະກຸນ</th>
            <th scope="col" class="text-center">ຈານ</th>
            <th scope="col" class="text-center">ໝວດ</th>
            <th scope="col" class="text-center">ປະເພດ</th>
            <th scope="col" class="text-center">ຫ້ອງຄົວ</th>
            <th scope="col" class="text-center">ນຳໃຊ້</th>
            <th scope="col" class="text-center">ລຶບ</th>
          </tr>
        </thead>
      </table>
    </div>
  </mat-card-content>
</mat-card>
