<p>
  Update
</p>
<hr>
<form [formGroup]="discountTranxForm">
  <div class="form-group">
    <label for="txtDiscount">Discount</label>
    <input type="number" class="form-control text-right" id="txtDiscount" formControlName="discount">
  </div>
  <div class="form-group">
    <label for="percentageDiscount">Discount in Percent</label>
    <input type="number" class="form-control text-right" id="percentageDiscount" formControlName="percentageDiscount">
  </div>
</form>
<hr>
<div class="row">
  <div class="col text-right"><button mat-flat-button color="warn" (click)="save()">Update</button></div>
</div>
