<div>
  <div class="row mt-2">
    <div class="col col-md-5 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-3">
              <input type="text" #barcodeTxtSearch class="form-control" placeholder="barcode" (input)="onBarcodeRead()"
                [(ngModel)]="barcode">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="ຄົ້ນຫາຕາມຊື່" [(ngModel)]="productName">
            </div>
            <div class="col-md-3">
              <select class="form-control" id="productCategories" [(ngModel)]="selectedCate">
                <option value="0">ທັງໝົດ</option>
                <option value="{{cat.id}}" *ngFor="let cat of productCategories">{{ cat.product_category_name }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <button mat-flat-button color="primary" (click)="openAddNewProd()">ເພິ່ມລາຍການໃໝ່</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <div class="row" style="max-height: 72vh;overflow: auto;">
            <ng-container
              *ngFor="let product of products | productCatPipe: selectedCate | purchaseSearch: productName|productByBarcode: barcode">
              <div class="col mb-1">
                <div class="card" style="width: 10rem;cursor: pointer;" (click)="takePurchase(product)">
                  <div class="card-body">
                    <img src="{{ product.photo }}" class="img-thumbnail">
                    <div class="row ">
                      <div class="col col-md-12 text-left mt-3 mb-0">
                        <h6 class="card-title">{{ product.product_name }}</h6>
                      </div>
                      <div class="col col-md-12 text-right">
                        <h6 class="card-title">ລາຄາ {{ product.cost | number }} ກິບ</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-7  col-sm-12">
      <form [formGroup]="purchaseForm">
        <div class="card">
          <div class="card-body" style="max-height: 75vh; ;overflow: auto;">
            <div class="row">
              <div class="col col-md-6">
                <h5 class="card-title mt-1">
                  ລາຍການທີ່ເລືອກໄວ້
                </h5>
              </div>

              <div class="col col-md-6">

                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">ວັນທີ່ຊື້</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" formControlName="purchaseDate" required>
                  </div>
                </div>
              </div>
            </div>

            <mat-divider></mat-divider>
            <div class="table-responsive mt-1">
              <ng-container *ngIf="purchaseBuffers; else nonData">
                <table class="table table-hover">
                  <thead>
                    <th class="text-center">#</th>
                    <th class="text-left">ສິນຄ້າ</th>
                    <th class="text-center">ລາຄາ</th>
                    <th class="text-center">ສະກຸນ</th>
                    <th class="text-center">ອັດຕາແລກປ່ຽນ</th>
                    <th class="text-center">ລາຄາ ກີບ</th>
                    <th class="text-center">ຈຳນວນ</th>
                    <th class="text-center">ລວມ</th>
                    <th class="text-center">ລຶບ</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of purchaseBuffers |async; let i = index">
                      <td class="text-center align-middle">{{ i+1 }}</td>
                      <td class="text-left align-middle">{{ item.product_name }}</td>

                      <td class="text-right align-middle">
                        <input type="number" class="form-control text-right" id="src_amount"
                          formControlName="src_amount" style="max-width:100px;padding:0" value="{{ item.src_amount }}"
                          (change)="updateItemSrcAmount(item, $event.target.value)">
                      </td>

                      <td class="text-right align-middle">
                        <select class="form-control" id="src_currency"
                          (change)="CurrnecySelected($event.target.value,item.src_amount, item.id, item.quantity)">
                          <option value="" disabled>ເລືອກ</option>
                          <option *ngFor="let currency of currencies" value="{{ currency.id }}">
                            {{ currency.currency_name }}</option>
                        </select>
                      </td>

                      <td class="text-right align-middle">
                        <input type="number" class="form-control text-right" id="rate_conversion"
                          style="max-width:100px;padding:0" value="{{ item.rate_conversion}}"
                          (change)="updateItemCostByRate(item, $event.target.value)">
                      </td>
                      <td class="text-right align-middle">
                        <input type="number" class="form-control text-right" id="txtCost"
                          style="max-width:100px;padding:0" value="{{ item.dest_amount}}"
                          (change)="updateItemDestAmount(item, $event.target.value)">
                      </td>
                      <td class="text-right align-middle">
                        <input type="number" class="form-control text-right" id="txtQuantity"
                          style="max-width: 80px;padding:0" (change)="updateItemQuantity(item, $event.target.value)"
                          value="{{ item.quantity  }}">
                      </td>
                      <td class="text-right align-middle">{{ item.total |number }}</td>
                      <td class="text-center align-middle">
                        <img src="../../../assets/icons/baseline-delete-24px.svg"
                          style="cursor: pointer;color: darkred;" (click)="removeItem(item.id)">
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <!--
                      <td colspan="4" class="text-right">Billing Amount</td>
                    <td class="text-right font-weight-bold">{{ grandTotal | number }}</td>
                    <td></td>
                    -->
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #nonData>
                <div class="display-4 text-center"
                  style="color: darkgrey;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                  No Item
                </div>
              </ng-template>

            </div>

          </div>
        </div>
      </form>
      <div class="card mt-1">
        <div class="card-body">
          <div class="row">
            <div class="col col-md-8 ">
              <span class="h4 mr-5 align-top">ຍອດລວມທັງໝົດ</span><span
                class="display-4 mr-2 text-right">{{ grandTotal | number  }}</span><span
                class="h4 align-buttom">ກິບ</span>
            </div>
            <div class="col col-md-4 text-right">
              <span class="align-middle"><button mat-raised-button color="primary" style="min-height: 66px;"
                  (click)="savePurchase()">Purchase</button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
