<p class="h4">
  ເພີ່ມອາຫານຍ່ອຍ
</p>
<form [formGroup]="formAddSubFood">
  <mat-card>
    <mat-card-content>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="extendedFoodName">ປະເພດອາຫານຍ່ອຍ</label>
          <select class="form-control" id="extendedFoodName" formControlName="extendedFoodName">
            <option *ngFor="let extendedFoodType of extendedFoodTypes | async"
              value="{{ extendedFoodType.extendedFoodName_lao }}">{{ extendedFoodType.extendedFoodName_lao }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="cost">ຕົ້ນທຶນ</label>
          <input type="number" class="form-control text-right" formControlName="cost">
        </div>
        <div class="form-group col-md-2">
          <label for="price">ລາຄາຂາຍ</label>
          <input type="number" class="form-control text-right" formControlName="price">
        </div>
        <div class="form-group col-md-4">
          <label for="notetxt">ໝາຍເຫດ</label>
          <input type="text" class="form-control" id="notetxt" formControlName="noted">
        </div>
        <div class="form-group col-md-2">
          <label for="addBtn">ເພີ່ມ</label>
          <button mat-flat-button color="primary" class="form-control" id="addBtn"
            (click)="addExtendedFood()">Add</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">ອາຫານ</th>
            <th scope="col" class="text-center">ຕົ້ນທຶນ</th>
            <th scope="col" class="text-center">ລາຄາຂາຍ</th>
            <th scope="col" class="text-center">ໝາຍເຫດ</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let extendedFoodList of extendedFoodLists">
            <td class="text-left">{{ extendedFoodList.extendedFoodName }}</td>
            <td class="text-right">{{ extendedFoodList.cost |number }}</td>
            <td class="text-right">{{ extendedFoodList.price | number}}</td>
            <td class="text-left">{{ extendedFoodList.noted }}</td>
            <td class="text-center"><img src="../../../assets/icons/baseline-delete-24px.svg" style="cursor: pointer"
                (click)="removeitem(extendedFoodList)"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>
          </tr>
        </tfoot>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <div class="row">
        <div class="col col-md-12 text-right">
          <button mat-flat-button color="primary" (click)="addExtendedFoodToMaster()"
            style="margin-bottom: 5px;margin-right: 15px;width: 110px;">Save</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
