<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <span>Cashloads Managements</span>
    </mat-card-title>
    <span style="position: absolute; right:16px;">
      <button mat-flat-button color="primary" style="width: 200px;" (click)="openCash()">ເປີດຂາຍ</button>
    </span>

    <mat-card-subtitle>All current Cashloads</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="h5">Cashload</div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center align-top">#</th>
                    <th scope="col" class="text-center align-top">ເວລາ</th>
                    <th scope="col" class="text-center align-top">ພະນັກງານ</th>
                    <th scope="col" class="text-center align-top">ອະນຸມັດໂດຍ</th>
                    <th scope="col" class="text-center align-top">ອະນຸມັດເປີດ</th>
                    <th scope="col" class="text-center align-top">ຍອດເປີດ</th>
                    <th scope="col" class="text-center align-top">ຍອດຂາຍ</th>
                    <th scope="col" class="text-center align-top">ທະນາຄານ</th>
                    <th scope="col" class="text-center align-top">ລາຍຈ່າຍ</th>
                    <th scope="col" class="text-center align-top">ເງິນສົດຕົວຈິງ</th>
                    <th scope="col" class="text-center align-top">ຍອດສຸທິ</th>
                    <th scope="col" class="text-center align-top">ຍອດຍົກໄປ</th>

                    <th scope="col" class="text-center align-top">ເວລາປີດ</th>

                    <th scope="col" class="text-center align-top">ສະຖານະ</th>
                    <th scope="col" class="text-center align-top">ອະນຸມັດປີດ</th>
                    <th scope="col" class="text-center align-top">ອະນຸມັດປີດໂດຍ</th>
                    <th scope="col" class="text-center align-top">ລີ້ນຊັກ</th>
                    <th scope="col" class="text-center align-top">ໝາຍເຫດ</th>
                    <th scope="col" class="text-center align-top">ປິດ</th>
                    <th scope="col" class="text-center align-top">ຈັດການ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cash of cashloads ; let i = index;">

                    <td class="text-center align-middle"> {{ i+1 }}</td>
                    <td class="text-left align-middle text-nowrap ">{{ cash.loadDateTime| date: 'dd-MMM-yyyy' }}
                    </td>
                    <td class="text-center align-middle">{{ cash.sellerName }}</td>
                    <td class="text-left align-middle">{{ cash.openAuthorizedNameBy }}</td>
                    <td class="text-center align-middle" *ngIf="cash.loadApproved == 1;else loadApprovedTag">
                      <img mat-raised-button src=" ../../../assets/icons/Check_green_icon.svg.png"
                        style="max-width: 20px;cursor: pointer;">
                    </td>
                    <ng-template #loadApprovedTag>
                      <td class="text-center align-middle" (click)="approvedLoadCash(cash.id)">
                        <img mat-raised-button src="../../../assets/icons/cancel.svg"
                          style="max-width: 20px;cursor: pointer;">
                      </td>
                    </ng-template>

                    <td class="text-right align-middle">{{ cash.initBalance | number }}</td>
                    <td class="text-right align-middle">{{ cash.totalSellAmount | number }}</td>
                    <!-- <td class="text-right align-middle">{{ cash.eodCashBalance | number }}</td> -->
                    <td class="text-right align-middle">{{ cash.eodBankBalance | number }}</td>
                    <td class="text-right align-middle">{{ cash.expenditureAmount | number }}</td>
                    <td class="text-right align-middle">{{ cash.netbalance | number }}</td>
                    <td class="text-right align-middle">{{ cash.takeOffBalance | number }}</td>
                    <td class="text-right align-middle">{{ cash.fwdBalance | number }}</td>


                    <td class="text-left align-middle" *ngIf="cash.closeDatetime; else nonclose">
                      {{ cash.closeDatetime| date: 'H:mm:ss' }}</td>
                    <ng-template #nonclose>
                      <td></td>
                    </ng-template>

                    <td class="text-center align-middle" *ngIf="cash.closed == 1 ; else closeStat">Closed</td>
                    <ng-template #closeStat>
                      <td class="text-center align-middle">Open</td>
                    </ng-template>

                    <td class="text-center align-middle" *ngIf="cash.closeApproved == 1;else closeApprovedTag">
                      <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png"
                        style="max-width: 20px;cursor: pointer;">
                    </td>
                    <ng-template #closeApprovedTag>
                      <td class="text-center align-middle" (click)="closeApproved(cash)">
                        <img mat-raised-button src="../../../assets/icons/cancel.svg"
                          style="max-width: 20px;cursor: pointer;">
                      </td>
                    </ng-template>
                    <td class="text-left align-middle">{{ cash.closeAuthorizedNameBy }}</td>
                    <td class="text-center align-middle">{{ cash.terminalId }}</td>
                    <td class="text-left align-middle">{{ cash.note }}</td>
                    <td class="text-center align-middle" *ngIf="cash.closed === 1; else nonClose"><button
                        mat-flat-button color="warn" style="width: 100%;" disabled
                        (click)="openCloseBalance(cash)">ປິດ</button>
                    </td>

                    <ng-template #nonClose>
                      <td class="text-center align-middle"><button mat-flat-button color="warn" style="width: 100%;"
                          (click)="openCloseBalance(cash)">ປິດ</button>
                      </td>
                    </ng-template>
                    <td class="text-center align-middle" *ngIf="cash.closed === 1; else nonRemove">
                      <img mat-raised-button src="../../../assets/icons/baseline-delete-24px.svg"
                        style="width: 20px;cursor: pointer;">
                    </td>
                    <ng-template #nonRemove>
                      <td class="text-center align-middle">
                        <img mat-raised-button src="../../../assets/icons/baseline-delete-24px.svg"
                          (click)="removeCashLoad(cash)" style="width: 20px;cursor: pointer;">
                      </td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
