<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <span>Cashloads Managements</span>
    </mat-card-title>
    <span class="float-right">
      <button mat-flat-button (click)="openCash()">Open</button>
    </span>
    <span class="float-right">
      <button mat-flat-button class="ml-2">Close</button>
    </span>
    <mat-card-subtitle>All current Cashloads</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="h5">Cashload</div>
          </div>
          <div class="card-body">
            <table class="table  table-bordered table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">ຍອດເປີດ</th>
                  <th scope="col" class="text-center">ອະນຸມັດໂດຍ</th>
                  <th scope="col" class="text-center">ເວລາ</th>
                  <th scope="col" class="text-center">ຍອດຂາຍເງິນສົດ</th>
                  <th scope="col" class="text-center">ຍອດຂາຍຜ່ານທະນາຄານ</th>
                  <th scope="col" class="text-center">ລວມຍອດຂາຍ</th>
                  <th scope="col" class="text-center">ລວມຍອດ</th>
                  <th scope="col" class="text-center">ເງິນສົດຕົວຈິງ</th>
                  <th scope="col" class="text-center">Balance</th>
                  <th scope="col" class="text-center">ພະນັກງານຂາຍ</th>
                  <th scope="col" class="text-center">ອະນຸມັດໂດຍ</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
