<h1 mat-dialog-title>ເພີມສູດອາຫານ</h1>
<mat-divider class="mb-4"></mat-divider>
<form [formGroup]="addBomForm">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="bomName">ຊື່ສູດອາຫານ</label>
      <input type="text" id="bomName" class="form-control" style="width: 100%;" formControlName="bomName" required>
    </div>
    <div class="form-group col-md-4">
      <label for="note">ຄຳອະທິບາຍ</label>
      <input type="text" id="note" class="form-control" style="width: 100%;" formControlName="note" required>
    </div>
    <div class="form-group col-md-4">
      <div class="text-center">
        <button mat-raised-button color="primary" style="width: 100px;top:32px;" (click)="createBom()">ບັນທຶກ</button>
      </div>
    </div>
  </div>
</form>
<mat-divider class="mt-4"></mat-divider>
