<h1 mat-dialog-title>ແກ້ໄຂ</h1>

<form [formGroup]="addProductForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="barcodetxt">Barcode</label>
      <input type="text" class="form-control" id="barcodetxt" placeholder="Barcode" formControlName="barcode" required>
    </div>
    <div class="form-group col-md-6">
      <label for="productCode">Product code</label>
      <input type="text" class="form-control" id="productCode" placeholder="Product code" formControlName="product_code"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="productName">Product Name</label>
      <input type="text" class="form-control" id="productName" placeholder="Product Name" formControlName="product_name"
        required>
    </div>

    <div class="form-group col-md-6">
      <label for="productTypeCode">Product Types</label>
      <select class="form-control" formControlName="categoryId" required>
        <option value="-1" disabled>------</option>
        <option *ngFor="let productType of productCategories" value="{{ productType.id }}">{{
          productType.category_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="foodId">Food Name</label>
      <select class="form-control" id="foodId" formControlName="foodId">
        <option disabled value="-1">------</option>
        <option value="{{ food.id }}" *ngFor="let food of foods ">{{ food.food_name }}</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="cost">Cost</label>
      <input type="number" class="form-control text-right" id="cost" placeholder="Cost" formControlName="cost" required>
    </div>
    <div class="form-group col-md-6">
      <label for="Currency">Currency</label>
      <select class="form-control" formControlName="currencyId" required>
        <option value="-1" disabled>------</option>
        <option *ngFor="let currency of currencies " value="{{ currency.id }}">{{ currency.currency_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="cost">Minimum Quantity</label>
      <input type="number" class="form-control text-right" id="minimum" placeholder="Minimum Quantity"
        formControlName="minimum" required>
    </div>

    <div class="form-group col-md-6">
      <label for="currentQuantity">Unit</label>
      <select class="form-control" formControlName="unitId" required>
        <option value="-1" disabled>------</option>
        <option *ngFor="let unit of units " value="{{ unit.id }}">{{ unit.unit_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="quantityPerPack">Quantity Per Set</label>
      <input type="number" class="form-control text-right" id="quantityPerPack" placeholder="Quantity per set"
        formControlName="quantityPerPack" required>
    </div>
    <div class="form-group col-md-6">
      <label for="currentQuantity">Current Quantity</label>
      <input type="number" class="form-control text-right" id="currentQuantity" placeholder="Current Quantity"
        formControlName="currentQuantity" required>
    </div>
    <div class="form-group col-md-6">
      <label for="supplierId">Supplier</label>
      <select class="form-control" formControlName="supplierId" required>
        <option value="-1" disabled>------</option>
        <option *ngFor="let vendor of suppliers" value="{{ vendor.id }}">{{ vendor.supplier_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="expireDate">Expire</label>
      <input type="date" class="form-control" id="expireDate" placeholder="expireDate" formControlName="expireDate"
        required>
    </div>
  </div>
  <div class="text-center">
    <button mat-raised-button color="warn" style="width: 100%;" (click)="updateProduct()">ບັນທຶກ</button>
  </div>
</form>
