<h1 mat-dialog-title>{{ messageTitle }}</h1>
<div class="alert alert-danger" role="alert" [ngClass]="showAlert">
  {{ message }}
</div>
<form [formGroup]="userRegistrationForm">
  <div class="row">
    <div class="col col-md-3">
      <img [src]="photoSrc" (click)="fileinput.click()" class="photoDiv shadow p-3 mb-5 bg-white">
      <input type="file" (change)="uploadPhoto($event.target.files)" #fileinput style="display: none;">
      <mat-progress-bar color="primary" mode="determinate" [value]="progressBarValue">
      </mat-progress-bar>
    </div>
    <div class="col col-md-9">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="gender">ເພດ</label>
          <select class="form-control" id="gender" formControlName="gender" required>
            <option value="" disabled>--------</option>
            <option value="M">Mr.</option>
            <option value="F">Mrs.</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="username">username</label>
          <input type="text" minlength="3" class="form-control" id="username" formControlName="username" required>
        </div>
        <div class="form-group col-md-6">
          <label for="fullname">ຊື່ເຕັມ</label>
          <input type="text" minlength="3" class="form-control" id="fullname" formControlName="fullname" required>
        </div>
        <div class="form-group col-md-6">
          <label for="dateOfbirth">ວັນເດືອນປີເກີດ</label>
          <input type="date" class="form-control" id="dateOfbirth" formControlName="dateOfbirth" required>
        </div>
        <div class="form-group col-md-6">
          <label for="idCardNumber">ເລກບັດປະຈະຕົວ / ສຳມະໂນຄົວ</label>
          <input type="text" class="form-control" id="idCardNumber" formControlName="idCardNumber" required>
        </div>

        <div class="form-group col-md-6">
          <label for="mobile">ເບີໂທລະສັບ</label>
          <input type="text" class="form-control" id="mobile" placeholder="020..." formControlName="mobile" required>
        </div>

        <div class="form-group col-md-12">
          <label for="currentAddress">ບ່ອນຢູ່ປະຈຸບັນ</label>
          <input type="text" class="form-control" id="currentAddress" formControlName="currentAddress" required>
        </div>
        <div class="form-group col-md-6">
          <label for="userpassword">ລະຫັດ</label>
          <input type="password" autocomplete="off" class="form-control" id="userpassword"
            (keyup)="checkPasswordIntegrity($event)" formControlName="password">
        </div>
        <div class="form-group col-md-6">
          <label for="re-password">ລະຫັດ ອີກຄັ້ງ</label>
          <input type="password" class="form-control" autocomplete="off" (keyup)="checkPasswordIntegrity($event)"
            id="re-password">
        </div>

        <div class="form-group col-md-6" [ngClass]="showRole">
          <label for="roleId">Role</label>
          <select class="form-control" id="roleId" formControlName="roleId">
            <option value="" disabled>------</option>
            <option value="{{ role.id }}" *ngFor="let role of roles ">{{ role.role_name }}</option>
          </select>
        </div>
        <div class="form-group col-md-6" [ngClass]="showRole">
          <label for="kitchenId">Kitchen</label>
          <select class="form-control" id="kitchenId" formControlName="kitchenId">
            <option value="" disabled>------</option>
            <option value="all">All</option>
            <option value="{{ kitchen.id }}" *ngFor="let kitchen of kitchens">{{ kitchen.kitchenName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col col-md-12 text-right mt-3">
      <button mat-flat-button color="primary" style="width: 200px;" (click)="addUser()"
        [disabled]="saveBtnDisable">{{ buttonMessage }}</button>
    </div>
  </div>
</form>
