<h1 mat-dialog-title>ອາຫານ</h1>
<form [formGroup]="addFoodForm">
  <div class="row">
    <div class="col col-md-4">
      <img [src]="photoSrc" (click)="fileinput.click()" class="photoDiv shadow p-3 mb-5 bg-white">
      <input type="file" (change)="uploadPhoto($event.target.files)" #fileinput style="display: none;">
      <mat-progress-bar color="primary" mode="determinate" [value]="progressBarValue">
      </mat-progress-bar>
    </div>
    <div class="col col-md-8">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id">ລະຫັດອາຫານ</label>
          <input type="text" class="form-control" id="id" readonly formControlName="id" required>
        </div>
        <div class="form-group col-md-6">
          <label for="food_name">ອາຫານ</label>
          <input type="text" class="form-control" id="food_name" formControlName="food_name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="food_name_en">ອາຫານ ພາສາອັງກິດ</label>
          <input type="text" class="form-control" id="food_name_en" formControlName="food_name_en" required>
        </div>
        <div class="form-group col-md-6">
          <label for="foodTypeId">ຈັດໃນໝວດ</label>
          <select class="form-control" id="foodTypeId" required formControlName="foodTypeId">
            <option value="" disabled>-----------</option>
            <option *ngFor="let c of foodTypes " value="{{ c.id }}">{{ c.foodTypeName }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="kitchenId">ຫ້ອງຄົວ</label>
          <select class="form-control" id="kitchenId" required formControlName="kitchenId">
            <option value="" disabled>-----------</option>
            <option *ngFor="let k of kitchens " value="{{ k.id }}">{{ k.kitchenName }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="isParent">ປະເພດ</label>
          <select class="form-control" id="isParent" required formControlName="isParent">
            <option value="0">common</option>
            <option value="1">master</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="cost">ຕົ້ນທຶນ</label>
          <input type="number" class="form-control" [readOnly]="priceCostDisable" id="cost" formControlName="cost">
        </div>
        <div class="form-group col-md-6">
          <label for="price">ລາຄາຂາຍ</label>
          <input type="number" class="form-control" [readOnly]="priceCostDisable" id="price" formControlName="price">
        </div>


        <div class="form-group col-md-6">
          <label for="deriveryCost">ຕົ້ນທຶນ ແບບຈັດສົ່ງ</label>
          <input type="number" class="form-control" [readOnly]="priceCostDisable" id="deriveryCost"
            formControlName="deriveryCost">
        </div>
        <div class="form-group col-md-6">
          <label for="deriveryPrice">ລາຄາຂາຍ ແບບຈັດສົ່ງ</label>
          <input type="number" class="form-control" [readOnly]="priceCostDisable" id="deriveryPrice"
            formControlName="deriveryPrice">
        </div>


        <div class="form-group col-md-6">
          <label for="discId">ຈານ</label>
          <select class="form-control" id="discId" required formControlName="discId">
            <option value="" disabled>-----------</option>
            <option *ngFor="let d of discs" value="{{ d.id }}">{{ d.disc_name }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="note">ໝາຍເຫດ</label>
          <input type="text" class="form-control" id="note" formControlName="note">
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <button mat-raised-button color="primary" (click)="updateFood()" [disabled]="saveDisabled"
            style="width: 100%;">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>
