<p class="h4">
  ຊື້ <span style="font-weight: bolder;color: #C60001;">{{ data.ingredientName }} </span>
</p>
<hr>
<form [formGroup]="purchaseForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="changeHistoryId">ປະເພດ</label>
      <select class="form-control" id="changeHistoryId" disabled formControlName="changeHistoryId">
        <option value="" disabled>-- Choose --</option>
        <option value="{{ s.id }}" *ngFor="let s of ingredientStockChangeTypes">{{ s.changeName }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label class="usedQuantity">ຈຳນວນ</label>
      <input type="number" class="form-control text-right" formControlName="usedQuantity" required
        (change)="onQuantityChanged()">
    </div>
    <div class="form-group col-md-4">
      <label class="unitId">ຫົວໜ່ວຍ</label>
      <select class="form-control" id="unitId" disabled formControlName="unitId">
        <option value="" disabled>-- Choose --</option>
        <option value="{{ u.id }}" *ngFor="let u of units">{{ u.unit_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label class="src_price">ລາຄາຕໍ່ໜ່ວຍ</label>
      <input type="number" class="form-control text-right" formControlName="src_price" required
        (change)="onQuantityChanged()">
    </div>
    <div class="form-group col-md-4">
      <label class="src_currCodeId">ສະກຸນເງິນ</label>
      <select class="form-control" id="src_currCodeId" formControlName="src_currCodeId"
        (change)="getCurrencyRate($event.target.value)">
        <option value="" disabled>-- Choose --</option>
        <option value="{{ c.id }}" *ngFor="let c of currencies">{{ c.currency_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label class="exchange_rate">Rate</label>
      <input type="number" class="form-control text-right" formControlName="exchange_rate" required>
    </div>
    <div class="form-group col-md-4">
      <label class="convertedAmount">ຍອດລວມ ກີບ</label>
      <input type="number" class="form-control text-right" formControlName="convertedAmount" required>
    </div>




  </div>
</form>
<hr>
<div class="row">
  <div class="col col-md-12">
    <button mat-flat-button color="primary" (click)="savePurchase()" [disabled]="btnDisabled">Save</button>
  </div>
</div>
