<h1 mat-dialog-title>ຫົວໜ່ວຍ</h1>
<form [formGroup]="unitForm">

  <div class="row">
    <div class="form-group col-md-12">
      <label for="unit_name">Unit Name</label>
      <input type="text" class="form-control" required id="unit_name" formControlName="unit_name">
    </div>
    <div class="form-group col-md-12">
      <label for="unit">Unit</label>
      <input type="text" class="form-control" required id="unit" formControlName="unit">
    </div>
    <div class="form-group col-md-12">
      <label for="valueInGram">value In Gram</label>
      <input type="number" class="form-control" required id="valueInGram" formControlName="valueInGram">
    </div>
    <div class="form-group col-md-12 text-right">
      <button mat-flat-button color="primary" (click)="updateUnit()">{{ btnText }}</button>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <th class="text-center">#</th>
        <th class="text-center">Unit</th>
        <th class="text-center">Unit Name</th>
        <th class="text-center">Remove</th>
      </thead>
      <tbody style="max-height: 200px;overflow-y: auto;">
        <tr *ngFor="let unit of units ; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-left" style="cursor: pointer;" (click)="updateClickUnit(unit)">{{ unit.unit_name }}</td>
          <td class="text-left">{{ unit.unit }}</td>
          <td class="text-center">
            <img src="../../../assets/icons/baseline-delete-24px.svg" (click)="removeUnit(unit)"
              style="cursor: pointer;">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
