<mat-card>
  <mat-card-header>
    <mat-icon class="icon-header">payment</mat-icon>
    <h1 mat-dialog-title>Purchase Management</h1>
    <button mat-stroked-button color="primary" class="floatButton" (click)="addPurchase()">add new Purchase</button>
  </mat-card-header>
  <mat-card-content>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-left" style="width: 30px;">ລະຫັດ</th>
          <th scope="col" class="text-left">ເລກບິນ</th>
          <th scope="col" class="text-left">ສິນຄ້າ</th>
          <th scope="col" class="text-right">ຈຳນວນ</th>
          <th scope="col" class="text-right">ລາຄາຕໍ່ໜ່ວຍ</th>
          <th scope="col" class="text-right">ຍອດລວມ</th>
          <th scope="col" class="text-center">ວັນທີ່ຊື້</th>
          <th scope="col" class="text-left">ຜູ້ສະໜອງ</th>
          <th scope="col" class="text-center">ຜຸ້ຊື້</th>
          <th scope="col" class="text-left">ໝາຍເຫດ</th>
          <th scope="col" class="text-center">ຈັດການ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases | async">
          <td class="text-left" (click)="updatePurchase(purchase)">{{ purchase.id }}</td>
          <td class="text-left" (click)="updatePurchase(purchase)">{{ purchase.billNo.trim() }}</td>
          <td class="text-left" (click)="updatePurchase(purchase)">{{ purchase.productName.trim() }}</td>
          <td class="text-right">{{ purchase.quantity |number}}</td>
          <td class="text-right">{{ purchase.price |number}}</td>
          <td class="text-right">{{ purchase.total |number }}</td>
          <td class="text-center">{{ purchase.purchaseDate | date }}</td>
          <td class="text-left">{{ purchase.vendor }}</td>
          <td class="text-center">{{ purchase.userName }}</td>
          <td class="text-left">{{ purchase.noted }}</td>
          <td class="text-center"><button mat-raised-button color="warn"
              (click)="deletePurchase(purchase)">Delete</button><span class="spaceDiv"></span><button mat-raised-button
              color="primary" (click)="updatePurchase(purchase)">Update</button></td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
