.spaceDiv {
  margin-left: 5px;
}
.table {
  border-radius: 2px;
}
.floatButton{
  position: absolute;
  top: 12px;
  right: 15px;
}
.example-header-image {
  background-image: url('../../../assets/icons/baseline-dashboard-24px.svg');
  background-size: cover;
}
