<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Purchase Management</mat-card-title>
    <mat-card-subtitle>Summary Purchase billing and Stock update</mat-card-subtitle>
    <button mat-stroked-button color="primary" class="floatButton" (click)="addPurchase()">add new Purchase</button>
  </mat-card-header>
  <mat-card-content>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center" style="width: 30px;">ລະຫັດ</th>
          <th scope="col" class="text-center">ເລກບິນ</th>
          <th scope="col" class="text-center">ຍອດລວມ</th>
          <th scope="col" class="text-center">ວັນທີ່ຊື້</th>
          <th scope="col" class="text-center">ຜູ້ສະໜອງ</th>
          <th scope="col" class="text-center">ຜຸ້ຊື້</th>
          <th scope="col" class="text-center">ອະນຸມັດ</th>
          <th scope="col" class="text-center">ຜູ້ອະນຸມັດ</th>
          <th scope="col" class="text-center">ວັນທີ່ອະນຸມັດ</th>
          <th scope="col" class="text-center">ໝາຍເຫດ</th>
          <th scope="col" class="text-center">ຈັດການ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td class="text-center" (click)="viewPurchase(purchase)">{{ purchase.pid }}</td>
          <td class="text-center" (click)="viewPurchase(purchase)">{{ purchase.billNo }}</td>
          <td class="text-right">{{ purchase.billAmount | number}}</td>
          <td class="text-center">{{ purchase.billDate | date: 'dd-MMM-yyyy' }}</td>
          <td class="text-left">{{ purchase.supplier_name }}</td>
          <td class="text-left">{{ purchase.username }}</td>
          <td class="text-center" *ngIf="purchase.approved; else unapproved">
            <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png"
              style="max-width: 20px;cursor: pointer;">
          </td>
          <ng-template #unapproved>
            <td class="text-center">
              <img mat-raised-button src="../../../assets/icons/cancel.svg" style="max-width: 20px;cursor: pointer;">
            </td>
          </ng-template>
          <td class="text-left">{{ purchase.approvedBy }}</td>
          <td class="text-left">{{ purchase.approvedDate }}</td>
          <td class="text-left">{{ purchase.noted }}</td>
          <td class="text-center"><button mat-raised-button color="warn"
              (click)="deletePurchase(purchase)">Delete</button><span class="spaceDiv"></span><button mat-raised-button
              color="primary" (click)="viewPurchase(purchase) ">View</button></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
