<p class="h5">
  ເພີ່ມລາຍການອາຫານ ສ່ວນຫຼຸດພະນັກງານ
</p>

<form [formGroup]="addNewStaffBenefitForm">
  <div class="row mt-3">
    <div class="form-group col-md-4">
      <label for="food">ອາຫານ</label>
      <select class="form-control" id="food" (change)="onselectedFood($event.target.value)">
        <option value="" disabled>------</option>
        <option value="{{ food.id }}" *ngFor="let food of foods | async">{{ food.food_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="discount">ສ່ວນຫຼຸດ</label>
      <input type="number" formControlName="discount" class="form-control text-right" required>
    </div>
    <div class="form-group col-md-4">
      <button mat-raised-button color="primary" style="margin-top: 30px;" class="form-control"
        (click)="addStaffBenefit()" [disabled]="addBtnDisable">add</button> </div>
  </div>
</form>
<div class="row">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">ອາຫານ</th>
        <th scope="col" class="text-center">ສ່ວນຫຼຸດ</th>
        <th scope="col" class="text-center">ນຳໃຊ້</th>
        <th scope="col" class="text-center">ເພິ່ມໂດຍ</th>
        <th scope="col" class="text-center">ຈັດການ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staffBenefit of staffBenefits | async ; let i = index;">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-left">{{ staffBenefit.food.food_name }}</td>
        <td class="text-center">{{ staffBenefit.discount | number }}</td>
        <td *ngIf="staffBenefit.enabled; else disabledBenefit" class="text-center">
          <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png"
            (click)="enableToggle(staffBenefit)" style="width: 20px; cursor: pointer;">
        </td>
        <ng-template #disabledBenefit>
          <td class="text-center">
            <img mat-raised-button src="../../../assets/icons/cancel.svg" style="width: 20px;cursor: pointer;"
              (click)="enableToggle(staffBenefit)">
          </td>
        </ng-template>
        <td class="text-center">{{ staffBenefit.username }}</td>
        <td class="text-center">
          <img mat-raised-button src="../../../assets/icons/baseline-delete-24px.svg" (click)="removeItem(staffBenefit)"
            style="width: 20px;cursor: pointer;">
        </td>
      </tr>
    </tbody>
  </table>
</div>
