<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ສ່ວນປະກອບອາຫານ</mat-card-title>
    <mat-card-subtitle>ຈັດການສ່ວນປະກອບອາຫານທັງໝົດ</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row" style="position: absolute;top:20px;right: 10px;">
      <div class="col col-md-12 col-sm-12" style="top: 10px;">
        <div class="text-right">
          <button mat-fab color="primary" class="mr-2" style="background-color: #00BFA5" (click)="openAddIngredient()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-fab color="primary" class="mr-2" style="background-color: #00BFA5" (click)="loadAllInit()">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-fab color="primary" class="mr-2" style="background-color: #9C28B1" (click)="openIngredientType()">
            <mat-icon>category</mat-icon>
          </button>
          <button mat-fab color="primary" class="mr-2" style="background-color: #9C28B1" (click)="openRecips()">
            <mat-icon>build</mat-icon>
          </button>
          <button mat-fab color="primary" class="mr-2" style="background-color: #9C28B1"
            routerLink="/ingredientPurchase">
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button mat-fab color="primary" class="mr-2" style="background-color: #9C28B1" (click)="openAddRecipe()">
            <mat-icon>bubble_chart</mat-icon>
          </button>

        </div>
      </div>
    </div>
    <mat-tab-group style="max-height: 72vh;overflow: auto;">
      <mat-tab label="ວັດຖຸດິບຫຼັກ">
        <div class="table-responsive">
          <table class="table table-bordered product_detail table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">ຊື່ວັດຖຸດິບ</th>
                <th scope="col" class="text-center">ປະເພດ</th>
                <th scope="col" class="text-center">ຫົວໜ່ວຍ</th>
                <th scope="col" class="text-center">ລາຄາຕໍ່ໜ່ວຍ</th>
                <th scope="col" class="text-center">ຈຳນວນຕໍ່ໜ່ວຍ</th>
                <th scope="col" class="text-center">ຈຳນວນຕໍ່ແກັດ</th>
                <th scope="col" class="text-center">ລາຄາຕໍ່ແກັດ</th>
                <th scope="col" class="text-center">ບັນຈຸ</th>
                <th scope="col" class="text-center">ຈຳນວນປະຈຸບັນ</th>
                <th scope="col" class="text-center">ຈຳນວນແກັດ</th>
                <th scope="col" class="text-center">ວັນທີ່ສ້າງ</th>
                <th scope="col" class="text-center">ໝາຍເຫດ</th>
                <th scope="col" class="text-center">ນຳໃຊ້</th>
                <th scope="col" class="text-center">ຈັດການ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ingredients; let i = index;">
                <td class="text-center align-middle">{{ i+1 }}</td>
                <td class="text-left align-middle" style="cursor: pointer;font-weight: bolder;font-size: 16px;"
                  (click)="openIngredient(item.ingredientId)">
                  {{ item.ingredientName }}</td>
                <td class="text-center align-middle">{{ item.ingredientTypeName }}</td>
                <td class="text-center align-middle">{{ item.unit_name }}</td>
                <td class="text-right align-middle">{{ item.unitPrice | number }} ກີບ</td>
                <td class="text-right align-middle">{{ item.quantityPerUnit | number }} {{ item.unit_name }}</td>

                <td class="text-right align-middle">{{ item.unitPerPack | number }} {{ item.unit_name }}</td>
                <td class="text-right align-middle">{{ item.packPrice | number }} ກີບ</td>
                <td class="text-center align-middle">{{ item.packUnitName  }}</td>
                <td class="text-right align-middle">{{ item.currentQuantity | number }} {{ item.unit_name }}</td>
                <td class="text-left font-weight-bold text-info align-middle" style="font-size: 16px;"
                  *ngIf="item.currentQuantity > 0;else nonQuantity">
                  {{ item.currentQuantity/item.quantityPerUnit | number: '1.0-0' }}
                  {{ item.packUnitName }}
                  {{ item.currentQuantity%item.quantityPerUnit | number  }} {{ item.unit_name  }}
                </td>
                <ng-template #nonQuantity>
                  <td class="text-left align-middle"></td>
                </ng-template>
                <td class="text-center align-middle">{{ item.createdAt | date: 'dd-MMM-yyyy' }}</td>
                <td class="text-left align-middle">{{ item.remarks }}</td>
                <td class="text-center align-middle" *ngIf="item.enabled; else disabledItem">
                  <div class="cell text-center align-middle">
                    <span>
                      <i class="material-icons" style="color: #00BFA5;cursor: pointer;">
                        check_circle
                      </i>
                    </span>
                    <span class="ml-1">Active</span>
                  </div>

                </td>
                <ng-template #disabledItem>
                  <td class="text-center align-middle">
                    <div class="cell text-center">
                      <span>
                        <i class="material-icons" style="color: #C60001;cursor: pointer;">
                          cancel
                        </i>
                      </span>
                      <span class="ml-1">Deactive</span>
                    </div>
                  </td>
                </ng-template>
                <td class="text-center align-middle">
                  <i class="material-icons mr-2" style="cursor: pointer;"
                    (click)="openIngredient(item.ingredientId)">edit</i>
                  <i class="material-icons mr-2" style="cursor: pointer; color: #C60001;"
                    (click)="openIngredientTakeOff(item)">exit_to_app</i>
                  <i class="material-icons" style="cursor: pointer; color: #C60001;">delete_outline</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="ຍອດໃນສາງປະຈຸບັນ">
        <div class="table-responsive">
          <table class="table table-bordered product_detail table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">ຊື່ວັດຖຸດິບ</th>
                <th scope="col" class="text-center">ຍອດຍົກມາ</th>
                <th scope="col" class="text-center">ນຳໃຊ້</th>
                <th scope="col" class="text-center">ຍອດໃນສາງປະຈຸບັນ</th>
                <th scope="col" class="text-center">ນຳໃຊ້ຈາກ</th>
                <th scope="col" class="text-center">ວັນທີ່ປ່ຽນແປງ</th>
                <th scope="col" class="text-center">ແກ້ໄຂໂດຍ</th>
                <th scope="col" class="text-center">ຈັດການ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of stocks; let i = index;" class="align-middle">
                <td class="text-center align-middle">{{ i+1 }}</td>
                <td class="text-left align-middle" style="cursor: pointer;font-weight: bolder;font-size: 16px;">
                  {{ item.ingredientName }}</td>
                <td class="text-right align-middle">{{ item.prevQuantity | number }} {{ item.unit_name }}</td>
                <td class="text-right align-middle">{{ item.usedQuantiry | number }} {{ item.unit_name }}</td>
                <td class="text-right align-middle">{{ item.currentQuantity | number }} {{ item.unit_name }}</td>
                <td class="text-left align-middle">{{ item.updateFrom }}</td>
                <td class="text-left align-middle">{{ item.updatedAt | date: 'dd-MMM-yyyy HH:mm:ss' }}</td>
                <td class="text-left align-middle">{{ item.username }}</td>
                <td class="text-center align-middle"> <button mat-button color="primary"
                    (click)="viewHistory(item)">History</button> | <button mat-button color="warn">Adjust</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Recipes">
        <div class="table-responsive">
          <table class="table table-bordered product_detail table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">recipe Name</th>
                <th scope="col" class="text-center">ອາຫານ</th>
                <th scope="col" class="text-center">ອາຫານຍ່ອຍ</th>
                <th scope="col" class="text-center">ຕົ້ນທຶນລວມ</th>
                <th scope="col" class="text-center">ສ່ວນປະກອບອາຫານ</th>
                <th scope="col" class="text-center">ນຳໃຊ້</th>
                <th scope="col" class="text-center">ຜູ້ສ້າງ</th>
                <th scope="col" class="text-center">ວັນທີ່ປ່ຽນແປງ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of recipesList; let i = index">
                <td class="text-center align-middle">{{ i+1 }}</td>
                <td class="text-left align-middle" (click)="updateRecipe(r)" style="cursor: pointer;">
                  {{ r.recipeMaster.recipeName }}</td>
                <td class="text-left align-middle">{{ r.recipeMaster.food_name }}</td>
                <td class="text-left align-middle">{{ r.recipeMaster.subFoodName }}</td>
                <td class="text-right align-middle">{{ r.recipeMaster.cost | number }}</td>
                <td class="text-center align-top">
                  <div class="table-responsive">
                    <table class="table table-bordered product_detail table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">ສ່ວນປະກອບ</th>
                          <th scope="col" class="text-center">ຈຳນວນ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of r.recipe;let j = index">
                          <td class="text-center align-middle">{{ j+1 }}</td>
                          <td class="text-left align-middle">{{ item.ingredientName }}</td>
                          <td class="text-left align-middle text-danger" style="font-size: 16px;">
                            {{ item.Pack |number }}
                            {{ item.packUnitName }}
                            {{ item.Unit |number }} {{ item.unit_name }} = {{ item.quantity | number }}
                            {{ item.unit_name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
                <td class="text-center align-middle" *ngIf="r.recipeMaster.enabled; else disabledItemR">
                  <div class="cell text-center">
                    <span>
                      <i class="material-icons" style="color: #00BFA5;cursor: pointer;">
                        check_circle
                      </i>
                    </span>
                    <span class="ml-1">Active</span>
                  </div>

                </td>
                <ng-template #disabledItemR>
                  <td class="text-center align-middle">
                    <div class="cell text-center">
                      <span>
                        <i class="material-icons" style="color: #C60001;cursor: pointer;">
                          cancel
                        </i>
                      </span>
                      <span class="ml-1">Deactive</span>
                    </div>
                  </td>
                </ng-template>
                <td class="text-left align-middle">{{ r.recipeMaster.username }}</td>
                <td class="text-left align-middle">{{ r.recipeMaster.updatedAt | date:'dd-MMM-yyyy HH:mm:ss' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab disabled label="Ingredient Usage">
        <form [formGroup]="dateForm">
          <div class="row mt-2">
            <div class="col col-md-2">
              <label class="startDate">ເລີ່ມ</label>
              <input type="date" class="form-control" id="startDate" formControlName="startDate">
            </div>
            <div class="col col-md-2">
              <label class="endDate">ຮອດ</label>
              <input type="date" class="form-control" id="endDate" formControlName="endDate">
            </div>
            <div class="col col-md-2">
              <button mat-flat-button color="primary" style="top:30px;" (click)="loadReports()">ລາຍງານ</button>
            </div>
          </div>
        </form>
        <ng-container *ngIf="reports">

          <div class="row mt-2">
            <div class="col col-md-6">
              <div class="card">
                <div class="card-header">
                  ອາຫານແຍກຍ່ອຍ
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered product_detail table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບຫຼັກ</th>
                          <th scope="col" class="text-center">ອາຫານ</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບ ຕໍ່ ຈານ</th>
                          <th scope="col" class="text-center">ຍອດຂາຍ</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບ ຕໍ່ ຍອດຂາຍ</th>
                          <th scope="col" class="text-center">ຍອດເຫຼືອ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let report of reports.childFoodReports;let i = index;">
                          <td class="text-center align-middle">{{ i+1 }}</td>
                          <td class="text-left align-middle">{{ report.ingredientName }}</td>
                          <td class="text-left align-middle">{{ report.foodName }}</td>
                          <td class="text-right align-middle">{{ report.unitPerDisc |number }} gram(s)</td>
                          <td class="text-right align-middle">{{ report.disc_quantity |number }} ຈານ</td>
                          <td class="text-right align-middle">{{ report.InGrams |number }} gram(s)</td>
                          <td class="text-right align-middle">{{ report.remaining |number }} gram(s)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="card">
                <div class="card-header">
                  ອາຫານ
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered product_detail table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="text-center">#</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບຫຼັກ</th>
                          <th scope="col" class="text-center">ອາຫານ</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບ ຕໍ່ ຈານ</th>
                          <th scope="col" class="text-center">ຍອດຂາຍ</th>
                          <th scope="col" class="text-center">ວັດຖຸດິບ ຕໍ່ ຍອດຂາຍ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let report of reports.nonChildFoodReports;let i = index;">
                          <td class="text-center align-middle">{{ i+1 }}</td>
                          <td class="text-left align-middle">{{ report.ingredientName }}</td>
                          <td class="text-left align-middle">{{ report.foodName }}</td>
                          <td class="text-right align-middle">{{ report.unitPerDisc |number }} gram(s)</td>
                          <td class="text-right align-middle">{{ report.disc_quantity |number }} ຈານ</td>
                          <td class="text-right align-middle">{{ report.InGrams |number }} gram(s)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Reports">

        <div class="col mt-2">
          <form [formGroup]="dateForm">
            <div class="row">

              <div class="col col-md-2">
                <label class="startDate">ເລີ່ມ</label>
                <input type="date" class="form-control" id="startDate" formControlName="startDate">
              </div>
              <div class="col col-md-2">
                <label class="endDate">ຮອດ</label>
                <input type="date" class="form-control" id="endDate" formControlName="endDate">
              </div>
              <div class="col col-md-2">
                <button mat-flat-button color="primary" style="top:30px;" (click)="loadReports()">ລາຍງານ</button>
              </div>

            </div>
          </form>
          <div class="row mt-2">
            <div class="col col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered product_detail table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">ວັດຖຸດິບຫຼັກ</th>
                      <th scope="col" class="text-center">ຍອດຍົກມາ</th>
                      <th scope="col" class="text-center">ເບີກອອກ</th>
                      <th scope="col" class="text-center">ຍອດໃນສາງປະຈຸບັນ</th>
                      <th scope="col" class="text-center">ຫົວໜ່ວຍ</th>
                      <th scope="col" class="text-center">ຜູ້ເບີກ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reports.currentStateReports;let i = index;">
                      <td class="text-center align-middle">{{ i+1 }}</td>
                      <td class="text-left align-middle">{{ report.ingredientName }}</td>
                      <td class="text-right align-middle">{{ report.prevQuantity | number }}</td>
                      <td class="text-right align-middle">{{ report.usedQuantiry |number }}</td>
                      <td class="text-right align-middle">{{ report.currentQuantity |number }}</td>
                      <td class="text-center align-middle">{{ report.unit_name }}</td>
                      <td class="text-left align-middle">{{ report.username }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
