<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ລາຍການ Order ທັງໝົດ</mat-card-title>
    <mat-card-subtitle>All current orders</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table class="table table-bordered ">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">Q</th>
            <th scope="col" class="text-center">ເວລາສັ້ງ</th>
            <th scope="col" class="text-center">ເວລາແລ້ວ</th>
            <th scope="col" class="text-center">ເລກບິນ</th>
            <th scope="col" class="text-center">ຍອດລວມ</th>
            <th scope="col" class="text-center">ປະເພດການຈ່າຍ</th>
            <th scope="col" class="text-center">ສະຖານະ</th>
            <th scope="col" class="text-center">ລາຍການອາຫານ</th>
            <th scope="col" class="text-center">ຈັດການ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | async">
            <td class="text-center align-middle display-2" style="width: 100px;">{{ order.ticket }}</td>
            <td class=" text-left align-middle" style="width: 100px; font-weight: bold;">
              {{ order.orderDateTime.toDate() | date:'HH:mm:ss' }}</td>
            <td class="text-center align-middle" style="width: 100px; font-weight: bold;">{{ order.orderFinishTime }}
            </td>
            <td class="text-center align-middle" style="width: 100px;">{{ order.invoiceno }}</td>
            <td class="text-center align-middle" style="width: 150px;">{{ order.grandtotal |number }}</td>
            <td class="text-center align-middle" style="width: 200px;">{{ order.paymentType }}</td>
            <td class="text-center align-middle" style="width: 100px;">{{ order.status }}</td>
            <td class="align-middle">
              <table class="table table-hover">
                <thead class="thead-light">
            <th scope="col" class="text-center">ອາຫານ</th>
            <th scope="col" class="text-center">ຈຳນວນ</th>
            <th scope="col" class="text-center">ຄຳສັ່ງເພີ່ມເຕີມ</th>
            <th scope="col" class="text-center">ສົ່ງແລ້ວ</th>
            </thead>
        <tbody>
          <tr *ngFor="let food of order.food">
            <td class="text-left align-middle">{{ food.food }}</td>
            <td class="text-center align-middle">{{ food.quantity | number }}</td>
            <td class="text-center align-middle" style="color: red; font-weight: bold;" *ngIf="food.note; else noNote">
              {{ food.note }}</td>
            <ng-template #noNote>
              <td class="text-center align-middle" style="color: red; font-weight: bold;"></td>
            </ng-template>
            <td class="text-center align-middle" *ngIf="food.done == true; else undone">
              <img mat-raised-button src="../../../assets/icons/Check_green_icon.svg.png"
                style="max-width: 20px;cursor: pointer;" (click)="updateFoodDone(order,food)">
            </td>
            <ng-template #undone>
              <td class="text-center align-middle">
                <img mat-raised-button src="../../../assets/icons/baseline-remove-24px.svg"
                  style="max-width: 20px; cursor: pointer;" (click)="updateFoodDone(order,food)">
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
      </td>
      <td class="text-center align-middle" style="width: 180px;">
        <div class="row">
          <div class="col col-sm-12 col-md-6">
            <button mat-raised-button color="primary" (click)="markOrderComplete(order)">ສົ່ງແລ້ວ</button>
          </div>
          <div class="col col-sm-12 col-md-6">
            <button mat-raised-button color="warn" (click)="markOrderCancel(order)">ຍົກເລິກ</button>
          </div>
        </div>

      </td>
      </tr>
      </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
