<h4 mat-dialog-title>
  ເອົາເຄື່ອງອອກສາງ
</h4>
<mat-divider></mat-divider>

<div class="row mt-2">
  <div class="col">
    <form [formGroup]="productTakeOffForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="productName">ສິນຄ້າໃນສາງ</label>
          <select class="form-control" id="productName" required formControlName="productName"
            (change)="productSelected($event.target.value)">
            <option value="">Choose</option>
            <option value="{{ product.product_name }}" *ngFor="let product of products" value="id">
              {{ product.product_name }}
            </option>
          </select> </div>
        <div class="form-group col-md-4">
          <label for="currentQuantity">ຈຳນວນທີ່ຍັງໃນສາງ</label>
          <input type="text" class="form-control text-right" readonly formControlName="currentQuantity"
            id="currentQuantity">
        </div>
        <div class="form-group col-md-4">
          <label for="unitName">ຫົວໜ່ວຍ</label>
          <input type="text" class="form-control text-right" readonly formControlName="unitName" id="unitName">
        </div>
        <div class="form-group col-md-4">
          <label for="usedQuantity">ຈຳນວນທີ່ຕ້ອງການອອກ</label>
          <input type="number" class="form-control text-right" (keyup)="quantityCalculation()" required
            formControlName="usedQuantity" id="usedQuantity">
        </div>
        <div class="form-group col-md-4">
          <label for="unitName">ຫົວໜ່ວຍ</label>
          <select class="form-control" (change)="unitPerPackSelected($event.target.value)">
            <option value="">ເລືອກ</option>
            <option value="{{ unit.quantityPerUnit }}" *ngFor="let unit of units">{{ unit.unit_name }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="totalUsedQuantity">ຈຳນວນຕົວຈິງ</label>
          <input type="text" class="form-control text-right" readonly formControlName="totalUsedQuantity" required
            id="totalUsedQuantity">
        </div>
      </div>
    </form>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row mt-3">
  <div class="col col-md-12 text-right">
    <button mat-raised-button color="primary" [disabled]="btnDisabled"
      (click)="createStockTakeOff()">{{ btnText }}</button>
  </div>
</div>
