<div class="topbar-Container" [ngClass]="navBarShow">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngFor="let RestaurantInfo of RestaurantInfos | async">{{ RestaurantInfo.restaurantName }}
        {{ RestaurantInfo.slogan }} </span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button mat-flat-button color="primary" class="matbtn" *ngFor="let menu of menus |async"
          routerLink="{{ menu.menuLink }}">{{
      menu.menuName }}</button>
        <button mat-flat-button color="primary" class="matbtn" (click)="logOut()">logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
