<div class="topbar-Container" [ngClass]="navBarShow">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngFor="let RestaurantInfo of RestaurantInfos | async">{{ RestaurantInfo.restaurantName }}
      </span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button mat-flat-button color="primary" class="matbtn" *ngFor="let menu of userMenus"
          routerLink="{{ menu.menu_link }}">{{ menu.menu_name }}</button>
        <mat-menu #appMenu>
          <a mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span>{{ username }}</span>
          </a>
          <a mat-menu-item (click)="openNewPassword()">
            <mat-icon>fingerprint</mat-icon>
            <span>Change password</span>
          </a>
          <a mat-menu-item routerLink="settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </a>
          <a mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </a>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <mat-menu #smallAppMenu>
          <a mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span>{{ username }}</span>
          </a>
          <a mat-menu-item *ngFor="let menu of userMenus" routerLink="{{ menu.menu_link }}">
            <mat-icon>account_box</mat-icon>
            <span>{{ menu.menu_name }}</span>
          </a>
          <a mat-menu-item routerLink="settings">
            <mat-icon>exit_to_app</mat-icon>
            <span>Settings</span>
          </a>
          <a mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </a>
        </mat-menu>
        <a mat-icon-button [matMenuTriggerFor]="smallAppMenu">
          <mat-icon>more_vert</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
