<mat-card class="topHeader">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Reports For Kitchen Admin</mat-card-title>
    <mat-card-subtitle>report by categories</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card-content>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="lead">ຍອດຂາຍຕາມ ຄົວ</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-md-2">
              <label for="fromDate" class="lead">ວັນທີ </label>
              <form [formGroup]="dateFrom">
                <div class="input-group mb-1">
                  <input type="date" class="form-control" formControlName="initDate">
                </div>
              </form>
            </div>
            <div class="col col-md-2">
              <label for="fromDate"></label>
              <div class="input-group mb-1">
                <button mat-raised-button color="primary" (click)="loadReport()"
                  style="margin-top: 18px;width: 200px;">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mainReportDetail" [ngClass]="viewReport">
        <div class="card">
          <div class="card-header">
            <div class="lead ">
              ລາຍງານຍອດຂາຍ ຂອງ ວັນທີ {{ startDate | date: 'dd-MMM-yyyy' }}
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="card">
                <div class="card-header h4">
                  ຍອດຂາຍຕາມອາຫານ
                </div>
                <div class="card-body">
                  <div>
                    <table class="table table-bordered table-hover" style="margin: 0;">
                      <thead class="thead-light">
                        <th class="text-center h6">#</th>
                        <th class="text-center h6">ອາຫານ</th>
                        <th class="text-center h6">ຈຳນວນ</th>
                        <th class="text-center h6">ລວມຕົ້ນທຶນ</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let trx of foodsTransactions ; let i  = index">
                          <td class="text-center">{{ i+1 }}</td>
                          <td class="text-left text-nowrap" style="width: 300px;">{{ trx.oFoodName }}</td>
                          <td class="text-right">{{ trx.quantity |number }}</td>
                          <td class="text-right">{{ trx.total_cost | number }}</td>
                        </tr>
                        <tr>
                          <td class="text-center h6" colspan="3">ລວມ</td>
                          <td class="text-right h6">{{ grandTotal | number }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
