<div>
  <mat-card class="col col-md-12">
    <mat-card-content>
      <div class="row">
        <div class="col col-md-7">
          <mat-tab-group class="mat-tabBody" (selectedTabChange)="loadFoodPage($event)">
            <mat-tab label="ທັງໝົດ">
              <div class="row main-container">
                <div class="col col-sm-12 col-md-3 shadow item text-center" *ngFor="let food of foods | async">
                  <div class="pricetag">
                    <span class="h5" *ngIf="food.price != 0; else choosePrice">{{ food.price | number}}</span>
                    <ng-template #choosePrice>
                      <span class="h4" style="color: orange;">ເລືອກ</span>
                    </ng-template>
                  </div>
                  <img src="{{ food.food_photo }}" alt="{{ food.food_name }}" class="img-thumbnail"
                    (click)="foodChoosed(food)">
                  <div class="title align-middle">
                    <span class="h6 font-weight-light">{{ food.food_name }}</span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngFor="let foodCategory of FoodCategories |async" label="{{ foodCategory.foodCategoryNameLao }}">
              <div class="row main-container">
                <div class="col col-sm-12 col-md-3 shadow item text-center" *ngFor="let food of foods | async">
                  <div class="pricetag">
                    <span class="h5" *ngIf="food.price != 0; else choosePrice">{{ food.price | number}}</span>
                    <ng-template #choosePrice>
                      <span class="h4" style="color: orange;">ເລືອກ</span>
                    </ng-template>
                  </div>
                  <img src="{{ food.food_photo }}" alt="{{ food.food_name }}" class="img-thumbnail"
                    (click)="foodChoosed(food)">
                  <div class="title align-middle">
                    <span class="h6 font-weight-light">{{ food.food_name }}</span>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col col-md-5">
          <mat-card class="mainPaymentDiv">
            <mat-card-title>ອາຫານທີ່ເລຶອກໄວ້ </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <div class="row" style="width: 100%;">
                    <div class="col col-md-3 text-left font-weight-bold">ອາຫານ</div>
                    <div class="col col-md-2 text-right font-weight-bold">ຈຳນວນ</div>
                    <div class="col col-md-2 text-right font-weight-bold">ລາຄາ</div>
                    <div class="col col-md-2 text-right font-weight-bold">ລວມ</div>
                    <div class="col col-md-2 text-center font-weight-bold">ຂໍ້ຄວາມ</div>
                    <div class="col col-md-1 text-right font-weight-bold">ຈັດການ</div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div class="listDiv">
                  <mat-list-item *ngFor="let cart of carts | async">
                    <div class="row" style="width: 100%;">
                      <div class="col col-md-3 text-left text-nowrap">{{ cart.food }} {{ cart.subFood }}</div>
                      <div class="col col-md-2 text-right">{{ cart.quantity | number }}</div>
                      <div class="col col-md-2 text-right">{{ cart.price | number }}</div>
                      <div class="col col-md-2 text-right"> {{ cart.total | number }}</div>
                      <div class="col col-md-2 text-left">{{ cart.note }}</div>
                      <div class="col col-md-1 text-center">
                        <img src="../../../assets/icons/baseline-note-24px.svg"
                          style="position: absolute; right:30px; cursor: pointer;" (click)="addnote(cart)">
                        <img src="../../../assets/icons/baseline-delete-24px.svg"
                          style="position: absolute; right:1px; cursor: pointer;" (click)="removeFromlist(cart)">
                      </div>
                    </div>
                  </mat-list-item>
                </div>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <div class="row">
                    <div class="col col-md-9 text-right h5" style="position: absolute; right:150px;">ຍອດລວມ
                    </div>
                    <div class="
                      col col-md-3 text-right h5" style="position: absolute; right:18px;">{{ total | number }}</div>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <mat-card class="paymentCard">
            <mat-card-title>Payment</mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col col-md-12">
                  <button mat-flat-button color="primary" style="width: 100%; height: 50px;"
                    [disabled]="disablePaymentBtn" (click)="openPaymentCash()">Cash</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
