.item {
  margin-left: 5px;
  margin-top: 10px;
  max-width: 200px;
  min-width: 100px;
  min-height: 200px;
  max-height: 100px;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}
.title {
  position: absolute;
  bottom: 10px;
  border-radius: 3px;
  left: 3px;
  opacity: 0.8;
  width: 90%;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  background-color: black;
  color: white;
  opacity: 0.7;
}
.pricetag {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
  opacity: 0.7;
  width: 100px;
  height: 30px;
  text-align: center;
}

.pricetagOption {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: rgb(247, 119, 34);
  color: white;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
  opacity: 0.7;
  width: 100px;
  height: 30px;
  text-align: center;
}
.main-container {
  height: 100%;
  overflow: auto;
  width: 100%;
}
.mat-tabBody {
  max-height: 800px;
}
.paymentCard {
  position: absolute;
  bottom: 10px;
  width: 97%;
}
.listDiv {
  max-height: 500px;
  overflow:auto;
}
.mainPaymentDiv {
  min-height: 550px;
}

