<div>
  <mat-card class="col col-md-12">
    <mat-card-content>
      <div class="row">
        <div class="col col-md-6 col-sm-12">
          <div class="row mb-2">
            <div class="col col-md-6">
              <input type="text" class="form-control" placeholder="ຄົ້ນຫາ ຕາມຊື່ອາຫານ" [(ngModel)]="searchFoodName">
            </div>
            <div class="col col-md-6">
              <select id="foodCategories" class="form-control" [(ngModel)]="selectedCate"
                (ngModelChange)="onSelect(selectedCate)" [selectedIndex]=0>
                <option value="0">ທັງໝົດ</option>
                <option value="{{ foodCategory.id }}" *ngFor="let foodCategory of foodTypes">
                  {{ foodCategory.foodTypeName }}
                </option>
              </select>
            </div>
          </div>
          <mat-divider class="mb-2"></mat-divider>
          <div class="row">
            <div class="row main-container">
              <div class="col col-sm-12 col-md-3 shadow item text-center"
                *ngFor="let food of foods |foodPipe: searchFoodName |foodCategoryPipe: selectedCate"
                (click)="foodChoosed(food)">
                <ng-container *ngIf="food.foodTypeId==21">
                  <div class="promotion-div">
                    <img src="../../../assets/icons/promo-tag.png"
                      style="max-width: 100px;position: absolute;left: 1px;">
                  </div>
                </ng-container>
                <ng-container *ngIf="food.tag">
                  <div class="bestSeller-div">
                    <img src="../../../assets/icons/Best-Seller-PNG-Clipart.png"
                      style="max-width: 100px;position: absolute;left: 1px;">
                  </div>
                </ng-container>

                <div class="pricetag">
                  <span class="h5" *ngIf="food.isParent === 0  else choosePrice">
                    <span class="h5" *ngIf="!deriveryOption; else deriverPriceOption">{{ food.price | number}}</span>
                    <ng-template #deriverPriceOption>
                      <span class="h5" style="color: red; font-weight: bolder;">{{ food.deriveryPrice | number}}</span>
                    </ng-template>
                  </span>
                  <ng-template #choosePrice>
                    <span class="h4" style="color: rgb(255, 94, 0);">ເລືອກ</span>
                  </ng-template>
                </div>
                <img src="{{ food.food_photo }}" alt="{{ food.food_name }}" class="img-thumbnail itemImg">
                <div class="title">
                  <p style="font-size: 1.2em;">{{ food.food_name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-6 col-sm-12">
          <mat-card class="mainPaymentDiv">
            <div class="row mb-1">
              <div class="col col-md-6 align-middle">
                <span *ngIf="member" style="font-size: 24px; color: #AF0506; font-weight: bolder;">ທ່ານ
                  {{ member.fullname }} ,
                  {{ beforePoints | number }} ຄະແນນ</span>
              </div>
              <div class="col col-md-5 align-middle">
                <input type="text" maxlength="5" class="form-control" #memberInput placeholder="enter card no ..."
                  (keyup)="cardNoSelected($event.target.value)">
              </div>
              <div class="col col-md-1 align-middle text-right mt-2">
                <mat-slide-toggle color="warn" [(ngModel)]="deriveryOption" (change)="deriverChange($event.checked)">
                </mat-slide-toggle>
              </div>
            </div>

            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead style="font-weight: bolder;" class="thead-dark">
                    <th scope="col" class="text-left">ອາຫານ</th>
                    <th scope="col" class="text-center">ຈານ</th>
                    <th scope="col" class="text-center">ຈຳນວນ</th>
                    <th scope="col" class="text-center">ລາຄາ</th>
                    <th scope="col" class="text-center">ສ່ວນລຸດ</th>
                    <th scope="col" class="text-center">ລວມ</th>
                    <th scope="col" class="text-center">ຂໍ້ຄວາມ</th>
                    <th scope="col" class="text-center">ຈັດການ</th>
                  </thead>`
                  <tbody>
                    <tr *ngFor="let cart of virtualCart">
                      <td class="text-left">{{ cart.food }}</td>
                      <td class="text-left" style="cursor: pointer;" (click)="discSelect(cart)">{{ cart.disc }}</td>
                      <td class="text-right" style="cursor: pointer;">
                        {{ cart.quantity | number }}</td>
                      <td class="text-right">{{ cart.price | number }}</td>
                      <td class="text-right">{{ cart.total_discount | number }}</td>
                      <td class="text-right">{{ cart.total | number }}</td>
                      <td class="text-left">{{ cart.note }}</td>
                      <td class="text-center">
                        <img src="../../../assets/icons/baseline-note-24px.svg" style="cursor: pointer;"
                          (click)="addnote(cart)">
                        <img src="../../../assets/icons/baseline-delete-24px.svg" style=" cursor: pointer;"
                          (click)="removeFromlist(cart)">
                        <img src="../../../assets/icons/baseline-confirmation_number-24px.svg" style=" cursor: pointer;"
                          (click)="addCoupon()">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </mat-card-content>
          </mat-card>
          <mat-card class="paymentCard">
            <mat-card-content>
              <div class="row">
                <div class="col col-md-5 align-middle">
                  <span class="h5 text-secondary">ຍອດລວມ</span>
                  <div class="display-4 text-danger">
                    {{ total | number }}
                  </div>

                </div>

                <div class="col col-md-4 align-middle">
                  <span class="h5 text-secondary mb-2">ເງິນສະກຸນ</span>
                  <div class="h6 text-primary text-nowrap align-middle" *ngFor="let rate of exchangeRates">
                    <div class="row">
                      <div class="col">
                        {{ rate.currencyRate | number}} Kip / {{ rate.currencyCode }}
                      </div>
                      <div class="col">
                        =
                      </div>
                      <div class="col text-right">
                        <span class="text-danger">{{ total / rate.currencyRate | number }}</span>
                        {{ rate.currencyCode }}
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col col-md-3 align-middle">
                  <button mat-flat-button color="primary"
                    style="background-color: #15CD72;font-size: 2em;width: 100%;height: 100%;"
                    [disabled]="disablePaymentBtn" (click)="openPaymentCash()">ຈ່າຍເງິນ</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>