<div class="h4" mat-dialog-title>ເພີມອາຫານ ໂປຣໂມຊັນ</div>
<form [formGroup]="promotionTranxForm">
  <ng-container>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="foodGroup">Group</label>
        <select class="form-control" id="foodGroup" [(ngModel)]="foodCatName" [ngModelOptions]="{standalone: true}">
          <option value="" disabled>Choose</option>
          <option *ngFor="let f of foodTypes" value="{{ f.id }}">{{ f.foodTypeName }}</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="foodId">ອາຫານ</label>
        <select class="form-control" id="foodId" formControlName="foodId" required formControlName="foodId" required>
          <option value="" disabled>Choose</option>
          <option *ngFor="let food of foods|foodCategoryPipe: foodCatName" value="{{ food.id }}">{{ food.food_name }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label for="discount">Discount Amount</label>
        <input type="number" class="form-control text-right" id="discount" formControlName="discount" required>
      </div>
      <div class="form-group col-md-12">
        <label for="percentageDiscount">Discount %</label>
        <input type="number" class="form-control text-right" id="percentageDiscount"
          formControlName="percentageDiscount" required>
      </div>
      <div class="form-group col-md-12">
        <button mat-flat-button color="primary" class="form-control " style="top:31px;" (click)="savePromotion()"
          id="expiry_date">ບັນທຶກ</button>
      </div>
    </div>
  </ng-container>

</form>
