<mat-card>
  <mat-card-title class="h4 text-center">ຊຳລະ</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 20px;">
    <div class="row">
      <div class="col col-md-5">
        <mat-card>
          <mat-card-title class="text-center">ຈ່າຍດ້ວຍ QR</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="qrDiv text-center shadow">
              <iframe id="qrIframe" [src]="urlSafe" [frameBorder]="0"
                style="max-width: 220px;min-height: 230px;"></iframe>
            </div>
            <div class="alert alert-success text-center" role="alert" [ngClass]="showAlert">
              ຈ່າຍເງິນສຳເລັດຈາກ ທ່ານ<p class="text-center" *ngIf="bankDataResponse">{{ bankDataResponse.name }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col col-md-7">
        <form [formGroup]="orderForm">
          <mat-card>
            <mat-card-title class="text-center">ຍອດເງິນທີ່ຕ້ອງຊຳລະ</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="display-3 text-center payment-text">
                {{ data.total | number }} ກິບ
              </div>
              <mat-divider></mat-divider>
              <div class="form-row">
                <div class="form-group col-md-12" style="margin-top: 10px;">
                  <label for="ticket">Ticket</label>
                  <select class="form-control" id="ticket" required formControlName="ticket" required
                    (change)="getTicketById($event.target.value)">
                    <option value="" disabled>------------------------</option>
                    <option *ngFor="let t of tickets | async" value="{{ t.ticket }}">{{ t.ticket }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label for="payBy">Pay By</label>
                  <select class="form-control" id="payBy" (change)="checkPaymentCash($event.target.value)"
                    [disabled]="paymentSelectDisabled" formControlName="paymentType" required>
                    <option value="" disabled>------------------------</option>
                    <option *ngFor="let p of paymentTypes | async" value="{{ p.paymentCode }}">
                      {{ p.paymentCode }}</option>
                  </select>
                </div>
                <mat-card class="col col-md-12" [ngClass]="showPaymentCash">
                  <mat-card-content>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="recieved">ຮັບມາ</label>
                        <input type="number" class="form-control" id="recieved" formControlName="recieved" required
                          (keyup)="changeCalculation()">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="change">ທອນ</label>
                        <input type="number" readonly class="form-control" id="change" formControlName="change"
                          required>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <div class="form-group col-md-12" style="margin-top: 10px;">
                  <button mat-flat-button color="warn" style="width: 100%; height: 50px;" (click)="paymentProcess()"
                    [disabled]="paymentBtnDisabled">ຈ່າຍ</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
