<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dashboard
    </mat-card-title>
    <mat-card-subtitle>Summary all Status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--
    <div class="float-refresh">
      <img src="../../../assets/icons/updated.svg" (click)="reloadReport()"
        style="position: absolute;max-width: 30px; cursor: pointer;right: 15px;top:20px">
    </div>
    -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div>
      <ng-container *ngIf="roleId == 1">
        <!-- current report -->
        <div class="row">
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຂອງວັນທີ
                  {{ currentDate |date: 'dd-MMM-yyyy'}}
                </div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReport of dashboardSummaryReports">
                  <div class="row">
                    <div class="col col-md-3 h6 text-nowrap" style="cursor: pointer;" [routerLink]="['/ordershistory']"
                      routerLinkActive="router-link-active">{{ summaryReport.status }}</div>
                    <div class="col col-md-3 h6 text-right text-nowrap">{{ summaryReport.count | number }}</div>
                    <div class="col col-md-4 h6 text-right text-nowrap">{{ summaryReport.grandTotal | number }}</div>
                    <div class="col col-md-2 h6 text-right text-nowrap" style="margin: 0;">ກິບ</div>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຕາມຄົວ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReportsKitchen of dashboardKitchenReports ; let i = index">
                  <div class="row">
                    <div class="col col-md-2 h6 text-left text-nowrap">{{ summaryReportsKitchen.kitchenName }}
                    </div>
                    <div class="col col-md-2 h6 text-right text-nowrap">
                      <span>
                      </span>{{ summaryReportsKitchen.count |number }}
                    </div>
                    <div class="col col-md-4 h6 text-right  text-nowrap"><span>
                      </span>{{ summaryReportsKitchen.total_cost |number }}
                    </div>
                    <div class="col col-md-4 h6 text-right text-nowrap">{{ summaryReportsKitchen.total_price |number }}
                      ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດການຈ່າຍຕາມປະເພດ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor=" let summaryReportsPayment of dashboardPaymentReports">
                  <div class="row">
                    <div class="col col-md-6 h6 text-left">{{ summaryReportsPayment.paymentType }}</div>
                    <div class="col col-md-6 h6 text-right">{{ summaryReportsPayment.grandTotal |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດການຂາຍຕາມພະນັກງານ
                </div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReportsUser of dashboardUserReports">
                  <div class="row">
                    <div class="col col-md-6 h6 text-left">{{ summaryReportsUser.username }}</div>
                    <div class="col col-md-2 h6 text-right">{{ summaryReportsUser.count |number }}</div>
                    <div class="col col-md-4 h6 text-right text-nowrap">{{ summaryReportsUser.grandTotal |number }} ກິບ
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-2">
          <div class="col col-md-6">
            <mat-card>
              <mat-card-title class="text-center">ຊ່ວງເວລາທີ່ມິລູກຄ້າເຂົ້າ</mat-card-title>
              <mat-card-content>
                <canvas id="canvasPopularTime">{{ chartPopularTime }}</canvas>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col col-md-6">
            <mat-card>
              <mat-card-title class="text-center">ຍອດການຂາຍຕາມວັນ</mat-card-title>
              <mat-card-content>
                <canvas id="canvas">{{ chartRev }}</canvas>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="roleId > 1">
        <div class="card">
          <div class="card-body">
            <div class="text-center display-4" style="color: rgb(51, 50, 49)">
              Welcome to Letter P restaurant
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Notification -->
    <div class="row">
      <div class="col col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header text-center">
            <span class="text-center h4">ແຈ້ງການ</span>
          </div>
          <div class="card-body">
            <ul class="list-group" *ngFor="let notice of notices| async">
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2 h5">ເນື້ອໃນ</div>
                  <div class="col col-md-10 h5 font-weight-bold">
                    <ul class="list-group">
                      <li class="list-group-item bg-warning" *ngFor="let notice2 of notice.notices ; let i = index">
                        {{ i+1 }}.
                        {{ notice2}}
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2">ໂດຍ :</div>
                  <div class="col col-md-10">{{ notice.noticeBy }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2">ເວລາ :</div>
                  <div class="col col-md-10">{{ notice.noticeDate.toDate() | date: 'dd-MMM-yyyy H:mm:ss' }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="display: none;">
      <mat-list *ngFor="let order of orders | async">
        <mat-list-item>{{ order.orderId }}</mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
