<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dashboard
    </mat-card-title>
    <mat-card-subtitle>Summary all Status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="float-refresh">
      <img src="../../../assets/icons/updated.svg" (click)="reloadReport()"
        style="position: absolute;max-width: 30px; cursor: pointer;right: 15px;top:20px">
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div>
      <ng-container *ngIf="roleId == 1">
        <!-- current report -->
        <div class="row">
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຂອງວັນ {{ currentDate |date: 'dd-MMM-yyyy'}}
                </div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReport of summaryReports">
                  <div class="row">
                    <div class="col col-md-6 h5">ຍອດການຂາຍ</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReport.grandTotal |number }} ກິບ</div>
                  </div>
                  <div class="row">
                    <div class="col col-md-6 h5">ຈຳນວນ</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReport.count |number }} ໜ່ວຍ</div>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຕາມຄົວ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReportsKitchen of summaryReportsKitchens ; let i = index">
                  <div class="row">
                    <div class="col col-md-4 h5 text-left">{{ summaryReportsKitchen.kitchenName }}</div>
                    <div class="col col-md-4 h5 text-right"><span style="margin-right: 10px;">ຈຳນວນ
                      </span>{{ summaryReportsKitchen.count |number }}
                    </div>
                    <div class="col col-md-4 h5 text-right">{{ summaryReportsKitchen.total_price |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດການຈ່າຍຕາມປະເພດ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor=" let summaryReportsPayment of summaryReportsPayments">
                  <div class="row">
                    <div class="col col-md-6 h5 text-left">{{ summaryReportsPayment.paymentType }}</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReportsPayment.grandTotal |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດການຂາຍຕາມພະນັກງານ
                </div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReportsUser of summaryReportsUsers">
                  <div class="row">
                    <div class="col col-md-6 h5 text-left">{{ summaryReportsUser.username }}</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReportsUser.grandTotal |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <!-- update report -->

          <!--
          Old System Report
          -->
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຂອງວັນ
                  {{ currentDate |date: 'dd-MMM-yyyy'}}
                  ລະບົບເກົ່າ
                </div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReport of summaryReports_letterp">
                  <div class="row" *ngIf="summaryReport.GrandTotal">
                    <div class="col col-md-6 h5">ຍອດການຂາຍ</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReport.GrandTotal |number }} ກິບ</div>
                    <div class="col col-md-6 h5">ລວມຕົ້ນທຶນ</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReport.total_cost |number }} ກິບ</div>
                    <div class="col col-md-6 h5">ກຳໄລສຸທິ</div>
                    <div class="col col-md-6 h5 text-right">{{ summaryReport.profit |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ຕາມຄົວ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let summaryReportsKitchen of summaryReports_kitchen_letterp ; let i = index">
                  <div class="row">
                    <div class="col col-md-4 h5 text-left">{{ summaryReportsKitchen.kitchen_name }}</div>
                    <div class="col col-md-4 h5 text-center">{{ summaryReportsKitchen.total_cost |number}}</div>
                    <div class="col col-md-4 h5 text-right text-nowrap">{{ summaryReportsKitchen.GrandTotal |number }}
                      ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍ ພະນັກງານ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor="let staff of summaryReports_staff_letterp ; let i = index">
                  <div class="row">
                    <div class="col col-md-4 h5 text-left">{{ staff.username }}</div>
                    <div class="col col-md-4 h5 text-right">{{ staff.quantity |number }}</div>
                    <div class="col col-md-4 h5 text-right text-nowrap">{{ staff.GrandTotal |number }}
                      ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <div class="m-b-20 h4" style="margin-bottom: 20px;">ຍອດຂາຍລາຍການອາຫານຍອດ</div>
                <mat-divider></mat-divider>
                <br />
                <ng-container *ngFor=" let foods of summaryReports_Foods_letterp; let i = index">
                  <div class="row">
                    <div class="col col-md-5 h6 text-left">{{ foods.food_name }}</div>
                    <div class="col col-md-2 h6 text-right">{{ foods.quantity | number }}</div>
                    <div class="col col-md-5 h6 text-right">{{ foods.total_price |number }} ກິບ</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </ng-container>
      <ng-container *ngIf="roleId > 1">
        <div class="card">
          <div class="card-body">
            <div class="text-center display-4" style="color: rgb(51, 50, 49)">
              Welcome to Letter P restaurant
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header text-center">
            <span class="text-center h4">ແຈ້ງການ</span>
          </div>
          <div class="card-body">
            <ul class="list-group" *ngFor="let notice of notices| async">
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2">ເນື້ອໃນ</div>
                  <div class="col col-md-10">{{ notice.message }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2">ໂດຍ :</div>
                  <div class="col col-md-10">{{ notice.noticeBy }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col col-md-2">ເວລາ :</div>
                  <div class="col col-md-10">{{ notice.noticeDate.toDate() | date: 'dd-MMM-yyyy H:mm:ss' }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
