<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dashboard
    </mat-card-title>
    <mat-card-subtitle>Summary all Status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div>
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h5 class="m-b-20">ຍອດຂາຍທັງໝົດ</h5>
              <h5 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{ transactionAmount |number }}</span>
              </h5>
              <p class="m-b-0">ຍອດການຂາຍ<span class="f-right">{{ transactionCount |number }} ລາຍການ</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h5 class="m-b-20">ຍອດຂາຍ ຂອງວັນ </h5>
              <h4 class="text-right"><i
                  class="fa fa-rocket f-left"></i><span>{{ transactionAmountDiary |number }}</span>
              </h4>
              <p class="m-b-0">ຍອດການຂາຍ<span class="f-right">{{ transactionCountDairy |number }} ລາຍການ</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h5 class="m-b-20">ຍອດຂາຍ ຕາມຄົວ ປະຈໍາວັນທີ {{ currentDate | date: 'dd-MMM-yyyy' }}</h5>
              <div *ngFor="let rp of reportByKitchen">
                <h4 class="text-right" *ngIf="rp.kitchenAmount > 0">
                  <div class="f-left">
                    {{ rp.kitchen }}</div><span>{{ rp.kitchenAmount | number}}</span>
                </h4>
                <p *ngIf="rp.kitchenAmount > 0" class="m-b-0">ຍອດການຂາຍ<span class="f-right">
                    {{ rp.kitchenCount | number }} ລາຍການ</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h5 class="m-b-20">ຍອດການຈ່າຍ</h5>
              <div *ngFor="let p of paymentMethodReport">
                <h4 class="text-right" *ngIf="p.paymentAmount > 0">
                  <div class="f-left">
                    {{ p.paymentMethod }}</div><span>{{ p.paymentAmount | number }}</span>
                </h4>
                <p *ngIf="p.paymentAmount > 0" class="m-b-0 h5">ຍອດການຂາຍ<span
                    class="f-right h5">{{ p.paymentCount | number}} ລາຍການ</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
