<h1 mat-dialog-title>ເພີ່ມສູດອາຫານ</h1>
<form [formGroup]="addFoodFxForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="foodFxCode">ລະຫັດ</label>
      <input type="text" class="form-control" id="foodFxCode" readonly placeholder="Auto populate"
        formControlName="foodFxCode">
    </div>
    <div class="form-group col-md-12">
      <label for="foodFxName">ຊື່ສູດອາຫານ</label>
      <input type="text" class="form-control" id="foodFxName" placeholder="foodFxName" formControlName="foodFxName"
        required>
    </div>
    <div class="form-group col-md-12">
      <label for="foodId">ອາຫານ</label>
      <select class="form-control" formControlName="foodId" required>
        <option value="" disabled>ເລືອກ</option>
        <option value="{{food.id}}" *ngFor="let food of foods">{{ food.food_name }}</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label for="cost">ຕົ້ນທຶນ</label>
      <input type="number" class="form-control text-right" id="cost" placeholder="cost" formControlName="cost" required>
    </div>
    <div class="form-group col-md-12">
      <label for="remarks">ໝາຍເຫດ</label>
      <input type="text" class="form-control" id="remarks" placeholder="remarks" formControlName="remarks" required>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="text-right mt-2">
    <button mat-raised-button color="primary" (click)="addNewFoodFx()">{{ btnText }}</button>
  </div>
</form>
