<div class="row">
  <div class="col">
    <p class="h5">
      Add new Discount
    </p>
  </div>
</div>
<hr>
<form [formGroup]="discountForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="discount_code">Discount Code</label>
      <input type="text" id="discount_code" class="form-control" formControlName="discount_code" required>
    </div>
    <div class="form-group col-md-12">
      <label for="discount_description">Discount Description</label>
      <input type="text" id="discount_description" class="form-control" formControlName="discount_description" required>
    </div>
    <div class="form-group col-md-12">
      <label for="discount_valid_from">Promotion Date</label>
      <input type="date" id="discount_valid_from" class="form-control" formControlName="discount_valid_from" required>
    </div>
    <div class="form-group col-md-12">
      <label for="discount_valid_thru">Promotion Expire</label>
      <input type="date" id="discount_valid_thru" class="form-control" formControlName="discount_valid_thru" required>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-right">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</form>
