<p class="h4">
  ເພີ່ມອາຫານ {{ data.food_name }}
</p>
<form [formGroup]="formAddSubFood">
  <mat-card>
    <mat-card-content>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="subFoodId">ປະເພດອາຫານຍ່ອຍ</label>
          <select class="form-control" id="subFoodId" formControlName="subFoodId">
            <option *ngFor="let extendedFoodType of extendedFoodTypes " value="{{ extendedFoodType.id }}">
              {{ extendedFoodType.subFoodName }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="cost">ຕົ້ນທຶນ</label>
          <input type="number" class="form-control text-right" formControlName="cost">
        </div>
        <div class="form-group col-md-3">
          <label for="price">ລາຄາຂາຍ</label>
          <input type="number" class="form-control text-right" formControlName="price">
        </div>

        <div class="form-group col-md-3">
          <label for="addBtn">ເພີ່ມ</label>
          <button mat-flat-button color="primary" class="form-control" id="addBtn"
            (click)="addExtendedFoodToMaster()">Add</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">ອາຫານ</th>
            <th scope="col" class="text-center">ຕົ້ນທຶນ</th>
            <th scope="col" class="text-center">ລາຄາຂາຍ</th>
            <th scope="col" class="text-center">ໝາຍເຫດ</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let extendedFoodList of extendedFoodLists">
            <td class="text-left" (click)="updateFood(extendedFoodList)">{{ extendedFoodList.subFoodName }}</td>
            <td class="text-right">{{ extendedFoodList.cost |number }}</td>
            <td class="text-right">{{ extendedFoodList.price | number}}</td>
            <td class="text-left">{{ extendedFoodList.note }}</td>
            <td class="text-center"><img src="../../../assets/icons/baseline-delete-24px.svg" style="cursor: pointer"
                (click)="removeitem(extendedFoodList)"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>
          </tr>
        </tfoot>
      </table>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</form>
